html, body{
    margin: 0;
    padding: 0;

    min-width: 100%;
    width: 100%;
    max-width: 100%;

    min-height: 100%;
    height: 100%;
    max-height: 100%;

    font-family: arial,sans-serif;
}

.non-phone-navbar-top-spacer {
    padding-top: 25px;
}

.sidebar-nav {
    margin-top: 10px;
    padding: 9px 0;
}

.navbar .nav>li>a {
    font-weight: normal;
}

.sidebar-nav li.active>a, .sidebar-nav li.active>a:hover {
    text-decoration: none;
    background-color: #7db904;
    color: #ffffff;
}

.tag-1 {
    font-family: monospace;
    font-size: 12px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #7db904;
    text-decoration: none;
    text-shadow: none;
}

/* not phone (needed to override .hidden-phone) */
@media (min-width: 768px) {
    #sidebar {display: block;}
}

/* phone (needed to override .visible-phone) */
@media (max-width: 767px) {
    #sidebar {display: none;}
}

abbr[title] {
    border-bottom: none;
    cursor: default;
}

a.topbar-brand, a.topbar-brand:hover {
    float: left;
    padding: 10px 10px 0 15px;
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-shadow: 0 0 5px #698b25, 0 0 10px #ffffff, 0 0 15px #b5dc66, 0 0 20px #b5dc66;
    background-color: none !important;
    text-decoration: none !important;
}

a.sidebar-brand, a.sidebar-brand:hover {
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-shadow: 0 0 5px #698b25, 0 0 10px #ffffff, 0 0 15px #b5dc66, 0 0 20px #b5dc66;
    background-color: none !important;
    text-decoration: none !important;
}

li.sidebar-brand {
    padding-top: 5px;
    padding-bottom: 10px;
}

/* begin logo stuff */

.logo_container {
    padding-left: 10px;
    display: inline-block;
    width: 42px;
}

.logo_positioner {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 100%;/*1:1 aspect ratio*/
}
.logo_cropper {
    display: block;
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}
img#logo_background_fallback {
    position: absolute;
    width: 100%;
    /*height: 100%; don't do this since it would squash the aspect ratio */
    top: 0;
    left: 0;
    z-index: 1;
}
canvas.matrix_text_green, canvas.matrix_text_white {
    position: absolute;
    width: 100%;
    /*height: 100%; don't do this since it would squash the aspect ratio */
    padding-top: 20%;/*move towards the hole in the img regardless of parent width*/
    left: 0;
    z-index: 2;
}
img#logo_img {
    width: 100%;/* expand to the width of #logo_cropper*/
    position: relative;
    z-index: 3;
}
.logo_hide_border_artifacts {
    position: absolute;
    border: 2px solid #2b2b2b;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: 4;
}

/* end logo stuff */

address#about {
    padding-top: 15px;
    border-top: 2px solid #333333;
}

.invisible {
    visibility: hidden;
}
.entry-content .media-container {
    width: 100%;
}
.entry-content .media-container > .media-positioner {
    display: table;
    margin: 0 auto;
    padding: 20px 10px 20px 10px;
}
.entry-content .media-container > .media-positioner > .media-caption {
    width: 100%;
    margin-top: 5px;
    text-align: center;
}
