/* begin raw element styles */
html, body{
    margin: 0;
    padding: 0;

    min-width: 100%;
    width: 100%;
    max-width: 100%;

    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    color: #bbbbbb;/*off-white*/
    text-decoration: none;
    text-shadow: none;

    background-color: #000000;/*black*/
    overflow: auto;/*expand to height of children*/
}
p, li {
    word-wrap: break-word;
    line-height: 26px;
}
a, a:visited, a:active, a:hover {
    color: #7db904;/*green*/
    text-decoration: none;
    text-shadow: none;
    margin: 0;
    padding: 0;
    border: 0;
}
a:hover {
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
    color: #7db904;/*green*/
    margin: 0 0 10px 0;
    font-weight: bold;
}
h1, h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
    font-weight: normal;
}
ul, ol {
    padding: 0;
}
label {
    font-size: 14px;
    font-style: italic;
}
label.for-textbox:after, label.for-select:after {
    content: ": "
}
textarea, input[type="text"], select {/*made to look like it is a small hole in the page*/
    box-sizing: border-box;/*keep the input from overflowing its parent*/
    margin: 5px 0 5px 0;
    font-size: 14px;
    color: #bbbbbb;/*off-white*/
    vertical-align: middle;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    border-color: #222222 #222222 #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    padding: 7px 10px;
    background-color: #2c2c2c;
    background-image: -moz-linear-gradient(top, #222222, #333333);
    background-image: -ms-linear-gradient(top, #222222, #333333);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#333333));
    background-image: -webkit-linear-gradient(top, #222222, #333333);
    background-image: -o-linear-gradient(top, #222222, #333333);
    background-image: linear-gradient(top, #222222, #333333);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#333333', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(255, 255, 255, 0.075);
    -moz-box-shadow:    inset 0 -1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(255, 255, 255, 0.075);
    box-shadow:         inset 0 -1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(255, 255, 255, 0.075);
}
select {
    padding: 6px 10px;/*keep to the same height as text input*/
}
textarea:focus, input[type="text"]:focus, select:focus {/*appears deeper when in focus*/
    outline: none;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}
select option:disabled {
    cursor: not-allowed;
}
button, button:visited, button:hover {/*made to look like a small bump in the page*/
    font-size: 14px;
    color: #ffffff;/*white*/
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid;
    border-radius: 4px;
    border-color: #222222 #222222 #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    padding: 7px 10px;
    background-color: #2c2c2c;
    background-image: -moz-linear-gradient(top, #333333, #222222);
    background-image: -ms-linear-gradient(top, #333333, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
    background-image: -webkit-linear-gradient(top, #333333, #222222);
    background-image: -o-linear-gradient(top, #333333, #222222);
    background-image: linear-gradient(top, #333333, #222222);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
    -moz-box-shadow:    inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
    box-shadow:         inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
}
button:active, button:focus, button:disabled {/*appears flat while clicked*/
    box-shadow: none;
    background-image: none;
    background-color: #222222;
    outline: none;
}
button:disabled {
    cursor: not-allowed;
}
footer {
    position: relative;/*changed by js in autofooter.js*/
    padding: 20px;
    clear: both;
    left: 0;/*only used when js changes this to position:absolute*/
    right: 0;/*only used when js changes this to position:absolute*/
    bottom: 0;/*only used when js changes this to position:absolute*/
}
abbr[title] {
    border-bottom: none;
    cursor: default;
    font-size: 12px;
}
code, pre {
    font-family: monospace;
    font-size: 13px;
    border-radius: 4px;
    padding: 2px 4px 1px 4px;
    color: #7db904;/*green*/
    background-color: #2b2b2b;/*dark-grey*/
    border: 1px solid #6a6a6a;/*light-grey*/
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    text-align: left;
}
pre {
    padding: 10px;
    display: inline-block;
}
code {
    word-break: break-all;
}
/* end raw element styles */

/*begin scrollbar styles - for browsers that support this*/
@media (min-width: 800px) {/*when x >= 800px*/
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    ::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
        background: #000000;
    }
    ::-webkit-scrollbar-thumb {
        background: #404040;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #6a6a6a;
    }
}
/*end scrollbar styles*/

/* begin page layout (thanks to stackoverflow.com/a/5195902) */
.container {
    width: 100%;
    float: left;
    margin-right: -200px;
}
.col-1 {
    margin-left: 130px;
    margin-right: 200px;
    overflow-x: hidden;
    padding: 20px;
}
.col-2 {
    float: right;
    display: inline-block;
    padding: 30px 30px 0 20px;
}

body:before {
    display: none;
}

/* 1 column layout is for phones, small portrait tablets, etc */
@media (max-width: 800px) {/*when x <= 800px*/
    body:before {
        content: "phone";/*never seen, but used by javascript*/
    }
    .hidden-phone {
        display: none !important;
    }
    .col-2 {
        display: none;
    }
    .col-1 {
        margin-right: 0;
        margin-left: 0;
    }
}

/* 2 column layout is for desktop pcs, large tablets, etc */
.col-1 {
    position: relative;
}
@media (min-width: 801px) {/*when x >= 801px*/
    body:before {
        content: "tablet";/*never seen, but used by javascript*/
    }
    .hidden-pc {
        display: none !important;
    }
    .col-2 {
        width: 200px;
    }
}
@media (min-width: 1201px) {/*when x >= 1201px*/
    body:before {
        content: "pc";/*never seen, but used by javascript*/
    }
    .col-2 {
        width: 300px;
    }
}
table {
    border-collapse: collapse;
    font-size: 15px;
}
td {
    border: 1px solid #6a6a6a;/*light-grey*/
    border-collapse: collapse;
    background-color: #2b2b2b;/*dark-grey*/
}
article {
    overflow-x: hidden;
}
.bottom_spacer {
    width: 100%;
}
/* end page layout */

/* begin icons */
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
.icon-github {
    width: 0.8571428571428571em;
}
.icon-feed {
    width: 0.7862857142857141em;
}
.icon-chain {
    width: 0.9285714285714285em;
}
.icon-bars {
    margin-bottom: -3px;
    width: 0.8571428571428571em;
}
.icon-file-text-o {
    width: 0.8571428571428571em;
}
.icon-folder-open-o {
    margin-bottom: -1px;
    width: 1.0652857142857142em;
}
.icon-level-down {
    width: 0.5730714285714286em;
}
.icon-hashtag {
    margin-bottom: -3px;
}
h1 .icon-file-text-o {
    font-size: 85%;
}
ul.nav-menu .icon {
    margin-bottom: -1px;
}
ul.nav-menu .icon-file-text-o {
    margin-right: 1px;
}
ul.nav-menu .icon-hashtag {
    margin: 0 -1px -3px 0;
}
.info-box .icon-hashtag {
    font-size: 90%;
}
/* end icons */

/* begin branding */
a.brand, a.brand:hover {
    padding-top: 8px;
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;/*white*/
    text-shadow: 0 0 5px #698b25, 0 0 10px #ffffff, 0 0 15px #b5dc66, 0 0 20px #b5dc66;
}
/* end branding */

/* begin side bar */
.side-bar {
    margin-top: 10px;
    padding: 10px 0 3px 0;
    background-color: #2b2b2b;/*dark-grey*/
    border-radius: 4px;
}
.side-bar a.brand {
    margin: 0 0 5px 20px;
    display: inline-block;
}
.side-bar ul.nav-menu {
    margin: 10px 10px 0 10px;
}
/* end side bar */

/* begin top bar */
.top-bar {
    padding: 10px 20px 4px 20px;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #2b2b2b;/*dark-grey*/
}
.top-bar .logo-container {
    padding-left: 10px;
    display: inline-block;
    width: 42px;
}
.top-bar button {
    float: right;
    font-size: 20px;
}
.col-1 button {
    margin: 5px 0 5px 0;
}
.nav-menu-phone {/*initially hidden*/
    display: none;
}
.top-bar a.brand {
    float: left;
}
.nav-menu {
    list-style: none;
    margin: 0;
    padding-bottom: 10px;
}
.top-bar ul.nav-menu {
    margin: 4px -10px -4px -10px;
}
/* end top bar */

/* begin navigation menu */
ul.nav-menu a {
    display: list-item;
    padding: 4px 10px 7px 10px;
    border-radius: 10px;
    min-height: 1.4em;
}
ul.nav-menu a:not(:last-child) {
    margin-bottom: 2px;
}
ul.nav-menu a.active {
    background-color: #000000;/*black*/
    color: #bbbbbb;/*off-white*/
}
ul.nav-menu a:hover:not(.active):not(:active) {
    background-color: #333333;/*light-grey*/
}
/* end navigation menu */

/* begin logo stuff */
.logo-positioner {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 100%;/*1:1 aspect ratio*/
}
.logo-cropper {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}
img#logo_background_fallback {
    position: absolute;
    width: 100%;
    /*height: 100%; don't do this since it would squash the aspect ratio */
    top: 0;
    left: 0;
    z-index: 1;
}
canvas.matrix-text-green, canvas.matrix-text-white {
    position: absolute;
    width: 100%;
    /*height: 100%; don't do this since it would squash the aspect ratio */
    padding-top: 20%;/*move towards the hole in the img regardless of parent width*/
    left: 0;
    z-index: 2;
}
img#logo_img {
    width: 100%;/* expand to the width of .logo-cropper*/
    position: relative;
    z-index: 3;
}
.logo-hide-border-artifacts {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: 4;
}
.col-2 .logo-positioner {
    width: 75%;
    padding-top: 75%;
    margin: 30px auto 0 auto;/*center horizontally and move down*/
}
.top-bar .logo-hide-border-artifacts {
    border: 2px solid #2b2b2b;/*dark-grey*/
}
.col-2 .logo-hide-border-artifacts {
    border: 2px solid black;
}
/* end logo stuff */

.heading-with-link {
    cursor: pointer;
}
h1 .icon-chain-90, h2 .icon-chain-90, h3 .icon-chain-90, h4 .icon-chain-90,
h5 .icon-chain-90, h6 .icon-chain-90 {
    font-size: 85%;
    visibility: hidden;
}
h1:hover .icon-chain-90, h2:hover .icon-chain-90, h3:hover .icon-chain-90,
h4:hover .icon-chain-90, h5:hover .icon-chain-90, h6:hover .icon-chain-90 {
    visibility: visible;
}

.info-box {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #2b2b2b;/*dark-grey*/
    border-radius: 4px;
    line-height: 24px;
}
@media (max-width: 800px) {/*when x <= 800px*/
    .info-box {
        padding: 10px 15px;
    }
}

address#about {
    font-style: normal;
    padding-top: 15px;
    border-top: 2px solid #2b2b2b;/*dark-grey*/
    line-height: 20px;
}

/* begin list styles */
dl.inline dt {
    float: left;
    width: 6em;
    clear: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
dl.inline dd {
    margin: 0 0 5px 6em;
}

ul.taglist {
    list-style-type: none;
}
ul.taglist li {
    margin-bottom: 5px;
}
.entry-content ol, .entry-content ul {
    list-style-position: inside;
}
.entry-content ul {
    list-style-type: none;
}
.entry-content ul li:before {
    content: "\2011 \a0\a0";/*dash space space in utf8*/
}
/* end list styles */

.left {
    font-size: 14px;
    float: left;
    margin: 0 20px 10px 0;
}
.left .line-spacer {
    display: block;
}
.left .line-spacer:after {
    content: "\00a0";/*nbsp in utf8*/
}
.keep-together {
    display: inline-block;
}
.invisible {
    visibility: hidden;
}
.entry-content .media-container {
    width: 100%;
}
.entry-content .media-container > .media-positioner {
    display: table;
    margin: 0 auto;
}
.media-caption {
    width: 100%;
    font-size: 15px;
    margin-top: 5px;
    text-align: center;
}
.form-container + .media-caption {
    margin-top: -10px;
}
.form-container > a > .icon-chain {
    position: absolute;
    right: 10px;/*match the padding of .form-container*/
}
.popup-fullpage {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: table;
    z-index: 100;
    background-color: black;
}
.popup-centerer {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.form-container {
    position: relative;
    border: 1px solid #6a6a6a;/*light-grey*/
    border-radius: 4px;
    padding: 10px;
    margin: 20px 0 20px 0;
    overflow: hidden;/*border outside floats*/
}
.horizontal-center {
    text-align: center;
}

blockquote {
    background-color: #101010;/*very-dark-grey*/
    display: inline-block;
    margin: 0;
    padding: 0 30px 0 30px;
}

/* begin codeblock */
.codeblock-container {
    display: block;
    position: relative;
    clear: both;
}
.codeblock-container .button-background {
    position: absolute;
    right: 0;
    background-color: #2b2b2b;/*dark-grey*/
    border-radius: 4px 4px 0 0;
    padding-bottom: 2px;
}
.codeblock-container button {
    padding: 0 5px;
    margin: 4px;
    width: 26px;/*min width would be better, but this is not supported by ie*/
}
.codeblock {/*note: if you want <pre> within a .codeblock then you have to do it yourself*/
    padding: 10px;
    display: block;
    margin: 8px 0 0 0;
    line-height: 21px;
    background-color: #2b2b2b;/*dark-grey*/
    border-radius: 4px;
    position: relative;
    font-family: monospace;
    font-size: 14px;
    white-space: pre;/*initial value*/
    word-wrap: break-word;/*do not split a word in half*/
    overflow: auto;
}
.button-background+br+.codeblock {
    border-top-right-radius: 0;
}
/* end codeblock */

/* begin comments section */
.comments {
    margin-top: 100px;
    overflow: hidden;
}
.comment-with {
    display: inline-block;
    text-align: center;
    padding: 5px 8px;
    background-color: #000000;/*black*/
    border: 1px solid #000000;
    border-radius: 4px;
}
.comment-with .icon{
    vertical-align: middle;
    padding-bottom: 1px;
}
.comment-with.selected, .comment-with:hover {
    cursor: pointer;
    border: 1px solid #6a6a6a;
}
.comments-count {
    vertical-align: super;
    font-size: smaller;
    cursor: pointer;
    color: #000000;/*black*/
    margin-left: -12px;
    background-color: #7db904;/*green*/
    padding: 0 3px;
    border-radius: 20px;
}
.fb-comments-loader {
    position: relative;
    width: 100%;
    height: 2em;
    text-align: center;
    font-size: 200%;
    margin: 30px 0;
    display: none;/*initially hidden*/
}
.fb-comments-loader-inner {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}
.fb-comments-loader .icon {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}
.fb-comments-loader .icon-circle-o-notch {
    font-size: 2em;
}
.fb-comments-loader .icon-facebook {
    font-size: 0.7em;
    padding: 0.95em;
}
/* end comments section */

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
