<ul class="nav nav-list">
<li class="sidebar-brand"><div><a class="sidebar-brand" href="{{ SITEURL }}/">{{ SITENAME }}{% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a></div></li>
{% if LINKS %}
<li class="nav-header"><h4><i class="icon-external-link"></i>blogroll</h4></li>
{% for name, link in LINKS %}
    <li><a href="{{ link }}"><i class="icon-external-link"></i>{{ name }}</a></li>
{% endfor %}
{% endif %}
{% if SOCIAL %}
<li class="nav-header"><h4><i class="icon-home icon-large"></i> social</h4></li>
<li><a href="{{ SITEURL }}/{{ FEED }}" rel="alternate"><i class="icon-bookmark icon-large"></i>atom feed</a></li>
{% if FEED_RSS %}
<li><a href="{{ SITEURL }}/{{ FEED_RSS }}" rel="alternate"><i class="icon-bookmark icon-large"></i>rss feed</a></li>
{% endif %}
{% for name, link in SOCIAL %}
    <li><a href="{{ link }}"><i class="icon-{{ name }}-sign icon-large"></i>{{ name }}</a></li>
{% endfor %}
{% endif %}

{#<li class="nav-header"><h4><i class="icon-folder-close icon-large"></i>Categories</h4></li>#}
{% for cat, articles in categories %}
<li {% if cat == category %}class="active"{% endif %}>
<a href="{{ SITEURL }}/{{ cat.url }}">
    <i class="fa fa-folder-open-o" aria-hidden="true"></i> {{ cat }} <sup>{{ articles | count }}</sup>
</a>
</li>
{% endfor %}
<li {% if output_file == "archives/index.html" %}class="active"{% endif %}>
    <a href="{{ SITEURL }}/archives/"><i class="fa fa-book" aria-hidden="true"></i> all</a>
</li>
<li {% if output_file == "tags/index.html" %}class="active"{% endif %}>
    <a href="{{ SITEURL }}/tags/"><i class="fa fa-hashtag" aria-hidden="true"></i> all</a>
</li>

{#% include 'twitter_profile.html' %}
{% include 'search_sidebar.html' %}

{% if SIDEBAR_CUSTOM %}
    {{ SIDEBAR_CUSTOM }}
{% endif %#}
</ul>
