{% macro media_review_item(media_type, double_parsed, media, max_thumb_height, pinned = False) %}
{% from 'media_reviews/review_stars.html' import media_review_stars with context %}
<div
    class="media {{ media_type }}
{%- if media == None %} placeholder pulsate {%- elif pinned %} pinned {%- endif -%}
    "
{% if media %}
    id="filter-index-{{ media.default_index }}"
{% endif %}
>
    <a
        class="link-to-self chain-link"
        href="
{%- if media -%}
        {{ SITEURL }}/{{ media_type }}-reviews/{{ media.id_ }}/
{%- endif -%}
        "
        title="right click and copy link for the URL of this {{ media_type }} review"
        aria-label="permalink to this {{ media_type }}"
    >
        <svg class="icon icon-chain">
            <use xlink:href="
{%- if double_parsed -%}
    {% raw %}{{ QS_LINK['/theme/img/icons.svg'] }}{% endraw %}
{%- else -%}
    {{ QS_LINK['/theme/img/icons.svg'] }}
{%- endif -%}
#icon-chain">
            </use>
        </svg>
    </a>
    <div class="thumbnail-and-stars">

{#
    use an object for the image so that it does not display a broken link icon
    before the image loads
#}
        <img class="thumbnail" loading="lazy" {# only for <object>: type="image/jpg"#}
{% if media %}
{% set img = '/' + media_type + '-reviews/img/thumb-' + media.id_ + '.jpg' %}
            {#data#}src="
{%- if double_parsed -%}
    {% raw %}{{{% endraw %} QS_LINK['{{ img }}'] {% raw %}}}{% endraw %}
{%- else -%}
    {{ QS_LINK[img] }}
{%- endif -%}
            "
{% endif %}
{% if media == None %}
            height="{{ max_thumb_height }}"
{% else %}
            height="{{ media.thumb_height }}"
            alt="loading thumbnail"
{% endif %}
        >{#thumbnail failed to load</object>#}

        <div class="stars">
{{ media_review_stars(media, double_parsed) }}
        </div>
    </div>
    <h3 class="media-title">
        <a
            class="link-to-self"
            href="
{%- if media -%}
        {{ SITEURL }}/{{ media_type }}-reviews/{{ media.id_ }}/
{%- endif -%}
            "
        >
{%- if media -%}
    {%- if media_type == "movie" -%}
        {{ media.title }}
    {%- elif media_type == "book" -%}
        <i>{{ media.title }}</i> by {{ media.author }}
    {%- elif media_type == "tv-series" -%}
        {{ media.title }} Season {{ media.season }}
    {%- endif %} ({{ media.year }})
{%- endif -%}
        </a>
    </h3>
    <h4 class="review-title">
{%- if media -%}
{{ media.review_title }}
{%- endif -%}
    </h4>
{# when no media exists, show both, then we will hide one with js later #}
{% if media == None or media.spoilers %}
    <span class="spoiler-alert has-spoilers">(this review contains spoilers)</span>
{% endif %}
{% if media == None or not media.spoilers %}
    <span class="spoiler-alert no-spoilers">(this review has no spoilers)</span>
{% endif %}
    <br>
    <div class="review-text">
{% if media == None %}
        <button class="load-review">load review</button>
{% elif pinned == False %}
        {# the button is initially disabled, and then enabled by js #}
        <button class="load-review" disabled>load review</button>
{% else %}
        {{ media.html_review }}
{% endif %}
        <a
            class="link-external"
            target="_blank"
            href="
{%- if media -%}
            {{ media.external_link_url }}
{%- endif -%}
            "
        >
            <button class="external-site">
                <img
                    src="
{%- set img = '/img/' -%}
{%- if media_type in ("movie", "tv-series") -%}
    {%- set img = img + 'imdb' -%}
    {%- set alt = 'imdb' -%}
{%- elif media_type == "book" -%}
    {%- set img = img + 'goodreads' -%}
    {%- set alt = 'goodreads' -%}
{%- endif -%}
{%- set img = img + '-logo-button.png' -%}
{%- set alt = alt + ' logo' -%}
{%- if double_parsed -%}
{%- raw %}{{ {% endraw -%}QS_LINK['{{ img }}']{%- raw %} }}{% endraw -%}
{%- else -%}
{{ QS_LINK[img] }}
{%- endif -%}
                    "
                    alt="{{ alt }}"
                >
            </button>
        </a>
    </div>
    <div class="dates-spacer">
{#
    this div goes behind .review-dates and adds some empty height space to keep
    the text in .review-dates below the rest of the above content
#}
    </div>
    <div class="review-dates">
        <span class="review-created">
{%- if media -%}
            added {{ media.review_created_dmmmYYYY }}
{%- endif -%}
        </span>
        <span class="review-updated">
            <a
                target="_blank"
                href="
{%- if media != None and media.review_updated_dmmmYYYY -%}
    {{ GITHUB_URL }}/commits/master/{{ media_type }}-reviews/json/review-{{ media.id_ }}.json
{%- endif -%}
                "
            >updated {{ media.review_updated_dmmmYYYY }}
            </a>
        </span>
    </div>
</div>
{% endmacro %}
