{%- macro media_body(all_media_data, double_parsed, media = None) -%}

{%- from 'media_reviews/search_box.html' import media_search_box with context -%}
{%- from 'media_reviews/count_area.html' import media_count_area with context -%}
{%- from 'media_reviews/1_review_item.html' import media_review_item with context -%}
{%- from 'media_reviews/search_loader.html' import media_search_loader with context -%}

<p>As with
<a href="{{ SITEURL }}/{{ all_media_data.not_media_types[0] }}-reviews/">{{ all_media_data.not_media_types_plural[0] }}</a>
and
<a href="{{ SITEURL }}/{{ all_media_data.not_media_types[1] }}-reviews/">{{ all_media_data.not_media_types_plural[1] }}</a>,
I {{ all_media_data.verb_present }} so many {{ all_media_data.type_plural }}
that I find myself forgetting what a given {{ all_media_data.type_ }} was about,
whether I liked it or not, and even whether I have already
{{ all_media_data.verb_past }} it. So I have made this page to keep track of the
{{ all_media_data.type_plural }} I {{ all_media_data.verb_present }} - good and
bad. Maybe you will also discover some good {{ all_media_data.type_plural }}
here too, or learn what to avoid, assuming you have similar tastes to me.</p>

{{ media_search_box(all_media_data.search_placeholder) }}

{{ media_count_area(all_media_data.preloads.first_page_size, all_media_data.type_plural, all_media_data.preloads.total_size) }}

<div id="reviewsArea" class="reviews-area">
    {% if media -%}
        {{ media_review_item(media.type_, double_parsed, media, all_media_data.max_thumb_height) }}
    {%- endif %}
</div>

{{ media_search_loader(all_media_data.type_plural) }}

<div class="media-placeholder-warehouse hidden">
    {# empty media item html template to be copied by js #}
    {{ media_review_item(all_media_data.type_, double_parsed, None, all_media_data.max_thumb_height) }}
</div>

<script>
    siteGlobals.mediaType = '{{ all_media_data.type_ }}';
    siteGlobals.maxThumbHeight = {{ all_media_data.max_thumb_height }};
    siteGlobals.iconsSVGURL = '
{%- if double_parsed -%}
    {%- raw %}{{ QS_LINK['/theme/img/icons.svg'] }}{% endraw -%}
{%- else -%}
    {{ QS_LINK['/theme/img/icons.svg'] }}
{%- endif -%}
';
    siteGlobals.mediaFileHashes = {{ all_media_data.file_hashes | tojson }};
    siteGlobals.pageSize = {{ MEDIA_REVIEWS_PAGE_SIZE }};
    siteGlobals.totalMediaCount = {{ all_media_data.total_media_count }};
</script>
{%- endmacro -%}
