{# validated at validator.w3.org/feed #}
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <atom:link href="{{ SITEURL }}/feeds/all.rss.xml" rel="self" type="application/rss+xml" />
        {% set channel = namespace(max_date = dates[0].date) %}{# init #}
        {% for article in dates %}
            {%- if article.modified and (article.modified.strftime('%Y%m%d').encode('ascii', 'ignore') != DATE_NULL_VALUE_HACK_YMD) -%}
                {%- set channel.max_date = article.modified if article.modified > channel.max_date else channel.max_date -%}
            {%- else -%}
                {%- set channel.max_date = article.date if article.date > channel.max_date else channel.max_date -%}
            {%- endif -%}
        {% endfor %}
        {% if MEDIA_REVIEWS %}
            {% for (media_type, media_data) in MEDIA_REVIEWS.items() %}
                {% for a_media in media_data.feed_and_sitemap_data %}
                    {% set channel.max_date = a_media.last_modified_date if a_media.last_modified_date > channel.max_date else channel.max_date %}
                {% endfor %}
            {% endfor %}
        {% endif %}
        <lastBuildDate>{{ channel.max_date.strftime('%a, %d %b %Y %H:%M:%S %z') }}</lastBuildDate>
        <title>{{ SITENAME }}</title>
        <link>{{ SITEURL }}/</link>
        <description></description>
        {% for article in dates %}
        <item>
            <title>{{ article.title }}</title>
            <link>{{ SITEURL }}/{{ article.url }}</link>
            <description>
                {%- if article.summary -%}
                    {{ article.summary }}
                {%- else -%}
                    {{ article.title }}
                {%- endif -%}
            </description>
{#
    this is supposed to be the email address but the spec says
    > for a weblog authored by a single individual it would make sense to omit
    > the <author> element.

            <author>{{ AUTHOR }}</author>
#}
{#
    note that the rss spec does not allow for an <item> update (<lastBuildDate/>
    is not allowed under <item>)
    https://validator.w3.org/feed/docs/rss2.html

    so to make sure that feed readers always see item changes, use the latest
    date in this field
#}
            <pubDate>
            {%- if article.modified and (article.modified.strftime('%Y%m%d').encode('ascii', 'ignore') != DATE_NULL_VALUE_HACK_YMD) -%}
                {{ article.modified.strftime('%a, %d %b %Y %H:%M:%S %z') }}
            {%- else -%}
                {{ article.date.strftime('%a, %d %b %Y %H:%M:%S %z') }}
            {%- endif -%}
            </pubDate>
            <guid isPermaLink="true">{{ SITEURL }}/{{ article.url }}</guid>
            {# % if article.tags %}
                {% for tag in article.tags %}
            <category>{{ tag }}</category>
                {% endfor %}
            {% endif % #}
        </item>
        {% endfor %}
        {% if MEDIA_REVIEWS %}
            {% for (media_type, media_data) in MEDIA_REVIEWS.items() %}
                {% for a_media in media_data.feed_and_sitemap_data %}
        <item>
            <title>{{ media_type }} review: {{ a_media.title }}{% if media_type == 'tv-series' %} Season {{ a_media.season }}{% endif %}</title>
            <link>{{ SITEURL }}/{{ media_type }}-reviews/{{ a_media.id_ }}/</link>
            <description>{{ a_media.review_title | striptags }}</description>
            <pubDate>
            {%- if a_media.last_modified_date and (a_media.last_modified_date.strftime('%Y%m%d').encode('ascii', 'ignore') != DATE_NULL_VALUE_HACK_YMD) -%}
                {{ a_media.last_modified_date.strftime('%a, %d %b %Y %H:%M:%S %z') }}
            {%- else -%}
                {{ a_media.review_created_date.strftime('%a, %d %b %Y %H:%M:%S %z') }}
            {%- endif -%}
            </pubDate>
            <guid isPermaLink="true">{{ SITEURL }}/{{ media_type }}-reviews/{{ a_media.id_ }}/</guid>
        </item>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </channel>
</rss>
