<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ SITENAME }}</title>
    <link href="{{ SITEURL }}/" rel="alternate"></link>
    <link href="{{ SITEURL }}/{{ ALL_ATOM_SAVE_AS}}" rel="self"></link>
    <id>{{ SITEURL }}/</id>
    {% set feed = namespace(max_date = dates[0].date) %}{# init #}
    {% for article in dates %}
    <entry>
        <title>{{ article.title }}</title>
        <link href="{{ SITEURL }}/{{ article.url }}" rel="alternate"></link>
        <published>{{ article.date.isoformat() }}</published>
        <updated>
            {%- if article.modified -%}
                {%- set feed.max_date = article.modified if article.modified > feed.max_date else feed.max_date -%}
                {{ article.modified.isoformat() }}
            {%- else -%}
                {%- set feed.max_date = article.date if article.date > feed.max_date else feed.max_date -%}
                {{ article.date.isoformat() }}
            {%- endif -%}
        </updated>
        <author>
            <name>{{ AUTHOR }}</name>
        </author>
        <id>tag:{{ SITE_HOSTNAME }},{{ article.date.strftime('%Y-%m-%d') }}:/{{ article.url }}</id>
        <summary type="html">{{ article.summary }}</summary>
        {#<content type="html">{{ article.content }}</content>#}
        {% if article.tags %}
        {% for tag in article.tags %}
        <category term="{{ tag }}"></category>
        {% endfor %}
        {% endif %}
    </entry>
    {% endfor %}
    {% if MEDIA_REVIEWS %}
        {% for (media_type, media_data) in MEDIA_REVIEWS.iteritems() %}
            {% for a_media in media_data.feed_and_sitemap_data %}
            {% set feed.max_date = a_media.last_modified_date if a_media.last_modified_date > feed.max_date else feed.max_date %}
    <entry>
        <title>{{ media_type }} review: {{ a_media.title }}{% if media_type == 'tv-series' %} Season {{ a_media.season }}{% endif %}</title>
        <link>{{ SITEURL }}/{{ media_type }}-reviews/{{ a_media.id_ }}/</link>
        <published>{{ a_media.review_created_date.isoformat() }}</published>
        <updated>{{ a_media.review_created_date.isoformat() }}</updated>
        <author>
            <name>{{ AUTHOR }}</name>
        </author>
        <id>tag:{{ SITE_HOSTNAME }},{{ a_media.review_created }}{# Y-m-d #}:/{{ media_type }}-review/{{ a_media.id_ }}</id>
        <summary type="html">{{ a_media.review_title }}</summary>
    </entry>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <updated>{{ feed.max_date.isoformat() }}</updated>
</feed>
