{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}
{% block og_title %}{{ article.title }}{% endblock %}
{% block description %}{{ article.summary | striptags }}{% endblock %}
{% block og_description %}{{ article.summary | striptags }}{% endblock %}
{% block google_title %}{{ article.summary | striptags }}{% endblock %}

{% block content %}
<section id="content">
    <article>
        <header>
            <h1>
            <span class="article-fa-icon">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
            </span>
            {{ article.title}}
            {% include 'twitter.html' %}
            </h1>
        </header>
        <div class="entry-content">
            <div class="info-box">
                {% include 'article_infos.html' %}
            </div>
            {{ article.content }}
        </div>

        {% if DISQUS_SITENAME %}
        <div id="disqus_thread"></div>
        {% endif %}
    </article>
</section>
{% endblock %}
