{#% if article.author %}
<span class="label">By</span>
<a href="{{ SITEURL }}/{{ article.author.url }}"><i class="icon-user"></i> {{ article.author }}</a>
{% endif %#}

{% if article %}
    {% set category_url = article.category.url %}
    {% set category = article.category %}
    {% set date_ = article.date %}
    {% set locale_date = article.locale_date %}
    {% if article.modified %}
        {% set date_modified = article.modified.strftime("%-d %b %Y").lower() %}
    {% endif %}
{% elif page and page.page_as_sub_article %}
    {% set category_url = page.category.url %}
    {% set category = page.category %}
    {% set date_ = page.date %}
    {% set locale_date = page.locale_date %}
    {% if page.modified %}
        {% set date_modified = page.modified.strftime("%Y-%m-%d").lower() %}
    {% endif %}
{% endif %}
{#<a href="{{ SITEURL }}/{{ category_url }}">
    <svg class="icon icon-folder-open-o">
        <use xlink:href="{{ QS_LINK['/theme/img/icons.svg'] }}#icon-folder-open-o"></use>
    </svg> {{ category }}{ # comment deletes whitespace # }
</a>#}

{# <span class="label">Date</span> #}
{# (<abbr class="published" title="{{ date_.isoformat() }}">{ #<i class="icon-calendar"></i># }{{ locale_date }}</abbr>) #}
<span class="dates">added {{ date_.strftime("%-d %b %Y").lower() }}</span>
{%- if date_modified -%}
<span class="dates">updated {{ date_modified }}</span>
{%- endif -%}

{#% if PDF_PROCESSOR %}
<span class="label">
<a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">PDF</a>
</span>
{% endif %#}

{#% include 'taglist.html' %}
{% include 'translations.html' %#}
