{% set include_stylesheets = True %}
{% set include_preloads = True %}
{% set include_ie_shim = True %}
{% set include_favicons = True %}
{% set include_js_globals = True %}
{% set include_manifest = True %}
{% set include_standard_body = True %}
{% set include_linked_data = True %}
{% set _ = LINKED_DATA.__setitem__("image", QS_LINK["/theme/img/shattered-glass-matrix.png"]) %}
{% extends "base.html" %}

{% block og_title %}{{ article.title }}{% endblock %}
{% block description %}{{ article.summary | striptags }}{% endblock %}
{% block og_description %}{{ article.summary | striptags }}{% endblock %}
{% block google_title %}{{ article.summary | striptags }}{% endblock %}
{% set _ = LINKED_DATA.__setitem__("@type", "Article") %}
{% set _ = LINKED_DATA.__setitem__("name", article.title) %}
{% set _ = LINKED_DATA.__setitem__("description", article.summary) %}
{% set _ = LINKED_DATA.__setitem__("datePublished", article.date.strftime("%Y-%m-%d")) %}
{% block content %}
<section id="content">
    <article>
        <header>
            <h1>
            <svg class="icon icon-file-text-o"><use xlink:href="{{ QS_LINK['/theme/img/icons.svg'] }}#icon-file-text-o"></use></svg>
            {{ article.title }}
            {% include 'twitter.html' %}
            </h1>
        </header>
        <div class="entry-content">
            <div class="info-box">
                {% include 'article_infos.html' %}
            </div>
            {{ article.content }}
        </div>
        <div class="bottom-spacer"></div>
        {% include 'comments.html' %}
    </article>
</section>
{% endblock %}
