{#% if article.author %}
<span class="label">By</span>
<a href="{{ SITEURL }}/{{ article.author.url }}"><i class="icon-user"></i> {{ article.author }}</a>
{% endif %#}


<a href="{{ SITEURL }}/{{ article.category.url }}"><svg class="icon icon-folder-open-o"><use xlink:href="{{ QS_LINK['/theme/img/icons.svg'] }}#icon-folder-open-o"></use></svg> {{ article.category }}</a>

{#<span class="label">Date</span>#}
(<abbr class="published" title="{{ article.date.isoformat() }}">{#<i class="icon-calendar"></i>#}{{ article.locale_date }}</abbr>)

{% if PDF_PROCESSOR %}
<span class="label">
<a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">PDF</a>
</span>
{% endif %}

{% include 'taglist.html' %}
{% include 'translations.html' %}
