{% set include_stylesheets = True %}
{% set include_preloads = True %}
{% set include_ie_shim = True %}
{% set include_favicons = True %}
{% set include_js_globals = True %}
{% set include_manifest = True %}
{% set include_standard_body = True %}
{% set LINKED_DATA = {
    "@context": "http://schema.org",
    "@type": "Article",
    "author": AUTHOR,
    "name": article.title,
    "description": article.summary,
    "image": QS_LINK["/theme/img/shattered-glass-matrix.png"],
    "datePublished": article.date.strftime("%Y-%m-%d"),
} %}
{% if article and article.modified %}
    {% set x=LINKED_DATA.__setitem__("dateModified", article.modified.strftime("%Y-%m-%d")) %}
{% endif %}

{% extends "base.html" %}

{% block og_title %}{{ article.title }}{% endblock %}
{% block description %}{{ article.summary | striptags }}{% endblock %}
{% block og_description %}{{ article.summary | striptags }}{% endblock %}
{% block og_image %}
    {%- if article.thumbnail_larger_image -%}
        {{ QS_LINK[article.thumbnail_larger_image] }}
    {%- else -%}
        {{ super() }}
    {%- endif -%}
{% endblock %}
{% block og_image_width %}
    {%- if article.thumbnail_larger_width -%}
        {{ article.thumbnail_larger_width }}
    {%- else -%}
        {{ super() }}
    {%- endif -%}
{% endblock %}
{% block og_image_height %}
    {%- if article.thumbnail_larger_height -%}
        {{ article.thumbnail_larger_height }}
    {%- else -%}
        {{ super() }}
    {%- endif -%}
{% endblock %}
{% block content %}
<section id="content" class="body">
    <article>
        <header>
            <h1 class="entry-title">{{ article.title }}</h1>
        </header>
        <div class="entry-content">
            <div class="info-box">
                {% include 'article_infos.html' %}
            </div>
{{ article.content }}
        </div>
        <div class="bottom-spacer"></div>
        {% include 'comments.html' %}
    </article>
</section>
{% endblock %}
