<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <head>
        <meta charset="utf-8"/>
        <title>{% if self.og_title() and self.og_title() != SITENAME %}{{ self.og_title() }}{% else %}{{ SITENAME }}{% endif %}</title>
        {% block meta_custom %}{% endblock %}

        {# le styles (must come before all scripts) #}
        {% if include_stylesheets %}
        <link rel="stylesheet" href="{{ QS_LINK['/theme/css/thematrix.css'] }}"/>
            {% if (page and page.stylesheets) %}
                {% set stylesheets = page.stylesheets.split(',') %}
                {% for stylesheet in stylesheets %}
        <link rel="stylesheet" href="{{ QS_LINK[stylesheet] }}"/>
                {% endfor %}
            {% endif %}
            {% if (article and article.stylesheets) %}
                {% set stylesheets = article.stylesheets.split(',') %}
                {% for stylesheet in stylesheets %}
        <link rel="stylesheet" href="{{ QS_LINK[stylesheet] }}"/>
                {% endfor %}
            {% endif %}
            {% include 'adsense_css.html' %}
        {% endif %}
        {% block non_standard_css %}{% endblock %}

        {# le preloads #}
        {% if include_preloads %}
            {% include 'preloads.html' %}
        {% endif %}

        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=5"/>
        <meta name="description" content="{% block description %}{{ BLOG_DESCRIPTION }}{% endblock %}"/>
        <meta name="author" content="{{ AUTHOR }}"/>

        {# le open graph data #}
        <meta property="og:site_name" content="{{ SITENAME }}"/>
        <meta property="og:url" content="{{ SITEURL }}/{{ output_file | replace("index.html", "") }}"/>
        <meta property="og:type" content="{% block og_type %}article{% endblock %}"/>
        <meta property="og:title" content="{% block og_title %}{{ SITENAME }}{% endblock %}"/>
        <meta property="og:description" content="{% block og_description %}{{ BLOG_DESCRIPTION }}{% endblock %}"/>
        <meta property="og:image" content="{% block og_image %}{{ QS_LINK['/theme/img/shattered-glass-matrix.png'] }}{% endblock %}"/>
        <meta property="og:image:width" content="{% block og_image_width %}266{% endblock %}"/>
        <meta property="og:image:height" content="{% block og_image_height %}266{% endblock %}"/>
        {% if article %}
        <meta property="og:article:published_time" content="{{ article.date.strftime("%Y-%m-%d") }}"/>
            {% if article.modified and (article.modified.strftime('%Y%m%d').encode('ascii', 'ignore') != DATE_NULL_VALUE_HACK_YMD) %}
        <meta property="og:article:modified_time" content="{{ article.modified.strftime("%Y-%m-%d") }}"/>
            {% endif %}
        {% elif page and page.page_as_sub_article %}
        <meta property="og:article:published_time" content="{{ page.date.strftime("%Y-%m-%d") }}"/>
            {% if page.modified and (page.modified.strftime('%Y%m%d').encode('ascii', 'ignore') != DATE_NULL_VALUE_HACK_YMD) %}
        <meta property="og:article:modified_time" content="{{ page.modified.strftime("%Y-%m-%d") }}"/>
            {% endif %}
        {% endif %}

        {% if FACEBOOK_APP_ID %}
        <meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}"/>
        {% block og_custom %}{% endblock %}
        {% endif %}

        {# le twitter card data # }
        { # not needed - twitter can use open graph. on the twitter website -
        https://developer.twitter.com/en/docs/twitter-for-websites/cards/guides/getting-started
        - it says "Twitter's parser will fall back to using property and
        content, so there is no need to modify existing Open Graph protocol
        markup if it already exists." # }

        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:site" content="@publisher_handle"/>
        <meta name="twitter:title" content="{% block twitter_title %}{{ SITENAME }}{% endblock %}"/>
        <meta name="twitter:description" content="{% block twitter_description %}Blog by {{ AUTHOR }}{% endblock %}"/>
        <meta name="twitter:creator" content="@author_handle"/>
        { # twitter summary card with large image must be at least 280x150px # }
        <meta name="twitter:image:src" content="http://www.example.com/image.jpg"/>#}

        {# le browser and os styles #}
        <meta name="theme-color" content="#000000"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
        <meta name="msapplication-navbutton-color" content="#000000"/>

        {# le HTML5 shim, for IE6-8 support of HTML5 elements #}
        {% if include_ie_shim %}
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
        {% endif %}

        {# le fav and touch icons #}
        {% if include_favicons %}
        <link rel="shortcut icon" href="{{ QS_LINK['/theme/img/favicon.ico'] }}" type="image/x-icon"/>
        <link rel="icon" href="{{ QS_LINK['/theme/img/favicon.ico'] }}" type="image/x-icon"/>
        <link rel="apple-touch-icon" href="{{ QS_LINK['/theme/img/apple-touch-icon.png'] }}"/>
        <link rel="apple-touch-icon" sizes="72x72" href="{{ QS_LINK['/theme/img/apple-touch-icon-72x72.png'] }}"/>
        <link rel="apple-touch-icon" sizes="114x114" href="{{ QS_LINK['/theme/img/apple-touch-icon-114x114.png'] }}"/>

        <link rel="self" href="{{ SITEURL }}/{{ output_file | replace("index.html", "") }}" type="application/atom+xml" title="{{ SITENAME }} ATOM Feed"/>
        <link rel="self" href="{{ SITEURL }}/{{ output_file | replace("index.html", "") }}" type="application/rss+xml" title="{{ SITENAME }} RSS Feed"/>
        {% endif %}

        {# le linked data (used by search engines for previews) #}
        {% if page and page.linked_data %}
        <script type="application/ld+json">{{ page.linked_data | replace("`", "\"") }}</script>
        {% elif LINKED_DATA %}
            {% set _ = LINKED_DATA.__setitem__("url", SITEURL + "/" + output_file | replace("index.html", "")) %}
            {% set _ = LINKED_DATA.__setitem__("inLanguage", "English") %}
        <script type="application/ld+json">{{ LINKED_DATA | tojson }}</script>
        {% endif %}

        {% if include_js_globals %}
            {% include 'js_globals.html' %}
        {% endif %}

        {% if include_manifest %}
        <link rel="manifest" href="{{ SITEURL }}/theme/js/manifest.json"/>
        {% endif %}
    </head>
    <body class="bottom-anchor-ad-unfilled">
    {% block non_standard_body %}{% endblock %}
    {% if include_standard_body %}
        {% from 'full_page_popup.html' import full_page_popup with context -%}
        {{ full_page_popup('', '', initially_hidden = True) }}
        <script>
            if (window.hasOwnProperty == null) {
                document.getElementById('fullpagePopupHeading').innerHTML = 'your browser is too old';
                document.getElementById('fullpagePopupDetail').innerHTML = 'sorry, this blog cannot run on your browser';
                document.getElementById('fullpagePopupNotification').style.display = 'table';
                nonExistentFunctionThatHaltsJavascript();
            }
        </script>
        <div class="top-bar hidden-on-pc hidden-on-tablet">
            <table>
                <tr>
                    <td class="brand-positioner">
                        <a class="brand" href="{{ SITEURL }}/">{{ SITENAME }}</a>
                    </td>
                    <td class="menu-button-positioner">
                        <button id="btnNavbar" aria-label="burger menu" menu-is-collapsed="true">
                            <svg class="icon icon-bars"><use xlink:href="{{ QS_LINK['/theme/img/icons.svg'] }}#icon-bars"></use></svg>
                        </button>
                    </td>
                </tr>
            </table>
            <div id="navMenu" class="nav-menu-phone">
                {% with position = "top" %}
                    {% include 'menu_articles.html' %}
                {% endwith %}
            </div>
        </div>

        <div class="container">
            <div class="col-0">
                {% include 'ads_left_col.html' %}
            </div>
            <div class="col-2">{# must come before col-1! stackoverflow.com/a/5195902 #}
                {% with position = "side" %}

                <div class="side-bar">
                    <a class="brand" href="{{ SITEURL }}/">{{ SITENAME }}</a>
                    {% include 'menu_articles.html' %}
                </div>
                    {% include 'logo.html' %}
                    {% if article or (page and page.page_as_sub_article) %}
                        {% include 'comments_opener.html' %}
                    {% endif %}
                {% endwith %}

            </div>
            <div class="col-1">
{% block content %}
{% endblock %}
            </div>
        </div>
        <div id="adsArchiveArea" class="important-hidden">
            {% include 'ads_in_feed.html' %}
        </div>

        {% include 'footer.html' %}
        <div class="sticky-bottom">
            {% include 'bottom_anchor_ad.html' %}
            <div class="bottom-notice-bars">
                {% include 'noscript_banner.html' %}
                {% include 'cookie_usage_banner.html' %}
                {% include 'new_version_available_banner.html' %}
            </div>
        </div>

        {# le javascript - at the end of the document so the pages load faster #}
        <!--[if IE]><script>isIE9OrLess = true;</script><![endif]-->
        <script src="{{ QS_LINK['/theme/js/base.js'] }}"></script>
        <script>
            init_all_matrix_canvases('.matrix-text-green', '.matrix-text-white');
            var timeout_id_resize_logo;
            addEvent(window, 'resize', function() {
                // debounce the resize
                clearTimeout(timeout_id_resize_logo);
                timeout_id_resize_logo = setTimeout(function() {
                    init_all_matrix_canvases('.matrix-text-green', '.matrix-text-white');
                }, 500);
            });
        </script>

        {% if article %}
            {% if article.scripts %}
                {% set scripts = article.scripts.split(',') %}
                {% for script in scripts %}
        <script src="{{ QS_LINK[script] }}"></script>
                {% endfor %}
            {% endif %}
            {% if COMMENTS_SCRIPTS and not article.no_comments %}
        <script src="{{ QS_LINK['/theme/js/comments-section.js'] }}"></script>
            {% endif %}
        {% elif page %}
            {% if page.scripts %}
                {% set scripts = page.scripts.split(',') %}
                {% for script in scripts %}
        <script src="{{ QS_LINK[script] }}"></script>
                {% endfor %}
            {% endif %}
            {% if COMMENTS_SCRIPTS and not page.no_comments %}
        <script src="{{ QS_LINK['/theme/js/comments-section.js'] }}"></script>
            {% endif %}
        {% endif %}

        {% include 'google_analytics.html' %}
        {# load the console greeter later since it does not need to be available so quick #}
        <script src="{{ QS_LINK['/theme/js/console-greeter.js'] }}"></script>
        {% include 'piwik.html' %}
    {% endif %}
    </body>
</html>
