<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'google_analytics.html' %}
        <meta charset="utf-8"/>
        <title>{{ SITENAME }}</title>
        <meta name="viewport" content="width=device-width, height=device-height initial-scale=1.0, user-scalable=no"/>
        <meta name="description" content="{% block description %}{{ BLOG_DESCRIPTION }}{% endblock %}"/>
        <meta name="author" content="{{ AUTHOR }}"/>

        {# le open graph data #}
        <meta property="og:site_name" content="{{ SITENAME }}"/>
        <meta property="og:title" content="{% block og_title %}{{ SITENAME }}{% endblock %}"/>
        <meta property="og:type" content="article"/>
        <meta property="og:url" content="{{ SITEURL }}/{{ output_file | replace("index.html", "") }}"/>
        <meta property="og:image" content="{{ SITEURL }}/theme/img/shattered-glass-matrix.png"/>
        <meta property="og:image:width" content="266"/>
        <meta property="og:image:height" content="266"/>
        <meta property="og:description" content="{% block og_description %}{{ BLOG_DESCRIPTION }}{% endblock %}"/>
        {% if FACEBOOK_ANALYTICS_ID %}
        <meta property="fb:app_id" content="{{ FACEBOOK_ANALYTICS_ID }}"/>
        {% endif %}

        {# le schema.org markup for Google+ #}
        <meta itemprop="name" content="{{ SITENAME }}"/>
        <meta itemprop="description" content="{% block google_title %}{{ BLOG_DESCRIPTION }}{% endblock %}"/>
        <meta itemprop="image" content="{{ SITEURL }}/theme/img/shattered-glass-matrix.png"/>

        {# le twitter card data # }
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:site" content="@publisher_handle"/>
        <meta name="twitter:title" content="{% block twitter_title %}{{ SITENAME }}{% endblock %}"/>
        <meta name="twitter:description" content="{% block twitter_description %}Blog by {{ AUTHOR }}{% endblock %}"/>
        <meta name="twitter:creator" content="@author_handle"/>
        { # twitter summary card with large image must be at least 280x150px # }
        <meta name="twitter:image:src" content="http://www.example.com/image.jpg"/>#}

        {# le styles #}
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/thematrix.css"/>
        {% if (article and article.stylesheets) %}
            {% set stylesheets = article.stylesheets.split(',') %}
            {% for stylesheet in stylesheets %}
        <link rel="stylesheet" href="{{ SITEURL }}/css/{{ stylesheet }}"/>
            {% endfor %}
        {% endif %}

        {# le browser and os styles #}
        <meta name="theme-color" content="#000000"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
        <meta name="msapplication-navbutton-color" content="#000000"/>

        {# le HTML5 shim, for IE6-8 support of HTML5 elements #}
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->

        {# le fav and touch icons #}
        <link rel="shortcut icon" href="{{ SITEURL }}/theme/img/favicon.ico" type="image/x-icon"/>
        <link rel="icon" href="{{ SITEURL }}/theme/img/favicon.ico" type="image/x-icon"/>
        <link rel="apple-touch-icon" href="{{ SITEURL }}/theme/img/apple-touch-icon.png"/>
        <link rel="apple-touch-icon" sizes="72x72" href="{{ SITEURL }}/theme/img/apple-touch-icon-72x72.png"/>
        <link rel="apple-touch-icon" sizes="114x114" href="{{ SITEURL }}/theme/img/apple-touch-icon-114x114.png"/>

        <link href="{{ SITEURL }}/{{ output_file | replace("index.html", "") }}" type="application/atom+xml" rel="self" title="{{ SITENAME }} ATOM Feed"/>
        <link href="{{ SITEURL }}/{{ output_file | replace("index.html", "") }}" type="application/rss+xml" rel="self" title="{{ SITENAME }} RSS Feed"/>
        {% include 'adsense.html' %}
    </head>

    <body>
        <div id="fullpagePopupNotification" class="popup-fullpage" style="display:none;">
            <span class="popup-centerer">
                <h1><span id="fullpagePopupHeading"></span></h1><br>
                <span id="fullpagePopupDetail"></span>
            </span>
        </div>
        <script>
            if (window.hasOwnProperty == null) {
                document.getElementById('fullpagePopupHeading').innerHTML = 'your browser is too old';
                document.getElementById('fullpagePopupDetail').innerHTML = 'sorry, this blog cannot run on your browser';
                document.getElementById('fullpagePopupNotification').style.display = 'table';
                nonExistentFunctionThatHaltsJavascript();
            }
        </script>
        <div class="top-bar hidden-pc">
            <a class="brand" href="{{ SITEURL }}/">{{ SITENAME }}</a>
            {% with position="top" %}
                {% include 'logo.html' %}
            {% endwith %}
            <button id="btnNavbar" menu-is-collapsed="true">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <div id="navMenu" class="nav-menu-phone">
                {% include 'menu.html' %}
            </div>
        </div>

        <div class="container">
            <div class="col-2">{# must come first! stackoverflow.com/a/5195914 #}
                <div class="side-bar">
                    <a class="brand" href="{{ SITEURL }}/">{{ SITENAME }}</a>
                    {% include 'menu.html' %}
                </div>
                {% with position="side" %}
                    {% include 'logo.html' %}
                {% endwith %}
            </div>
            <div class="col-1">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <footer class="invisible">
            <address id="about">
                {{ BLOG_DESCRIPTION }}.
                <br>
                Created with <span class="keep-together"><a href="https://getpelican.com/">Pelican <i class="fa fa-external-link" aria-hidden="true"></i></a></span>,
                <span class="keep-together"><a href="https://www.python.org/">python <i class="fa fa-external-link" aria-hidden="true"></i></a></span>,
                <span class="keep-together"><a href="https://en.wikipedia.org/wiki/JavaScript">JavaScript <i class="fa fa-external-link" aria-hidden="true"></i></a></span>,
                and <span class="keep-together"><a href="http://fontawesome.io/">Font Awesome <i class="fa fa-external-link" aria-hidden="true"></i></a></span>.
                Hosted on <span class="keep-together"><a href="{{ GITHUB_URL }}">github <i class="fa fa-github"></i></a></span>.
                <br>
                <a href="{{ SITEURL }}/feeds/all.rss.xml"><i class="fa fa-rss" aria-hidden="true"></i> RSS</a>&nbsp;&nbsp;&nbsp;
                <a href="{{ SITEURL }}/feeds/all.atom.xml"><i class="fa fa-rss" aria-hidden="true"></i> Atom</a>
            </address>
        </footer>

        {% include 'disqus_script.html' %}

        {# le javascript - at the end of the document so the pages load faster #}
        <script src="{{ SITEURL }}/theme/js/polyfills.js"></script>
        <script src="{{ SITEURL }}/theme/js/utils.js"></script>
        <script src="{{ SITEURL }}/theme/js/matrix-animation.js"></script>
        <script>
            init_all_matrix_canvases('.matrix-text-green', '.matrix-text-white');
            var timeout_id_resize_logo;
            addEvent(window, 'resize', function() {
                // debounce the resize
                clearTimeout(timeout_id_resize_logo);
                timeout_id_resize_logo = setTimeout(function() {
                    init_all_matrix_canvases('.matrix-text-green', '.matrix-text-white');
                }, 500);
            });
        </script>

        {# fontawesome recommended putting this link the top of the head section, however it seems to work here #}
        <script src="https://use.fontawesome.com/95559d6484.js"></script>

        <script src="{{ SITEURL }}/theme/js/autofooter.js"></script>

        {% if (article and article.scripts) %}
            {% set scripts = article.scripts.split(',') %}
            {% for script in scripts %}
        <script src="{{ SITEURL }}/js/{{ script }}"></script>
            {% endfor %}
        {% endif %}

        {% include 'facebook_analytics.html' %}
        {% if article %}{% include 'disqus_script.html' %}{% endif %}
        {% include 'piwik.html' %}
    </body>
</html>
