{%- macro codeblock(id = None, hide = False, start = False, end = False) -%}
{% if start or (not start and not end) %}
<div class="codeblock-container auto-wrap-on-mobile"{% if hide %} style="display:none;"{% endif %}>
    <div class="button-background">
        <button class="wrap-nowrap" wrapped="false">
            <svg class="icon icon-level-left">
                <use xlink:href="{{ QS_LINK['/theme/img/icons.svg'] }}#icon-level-left"></use>
            </svg>
            <svg class="icon icon-arrows-h" style="display:none;">
                <use xlink:href="{{ QS_LINK['/theme/img/icons.svg'] }}#icon-arrows-h"></use>
            </svg>
        </button>
    </div><br>
    <div{% if id %} id="{{ id }}"{% endif %} class="codeblock">{% endif %}{% if end or (not start and not end) %}</div>
</div>
{% endif %}
{%- endmacro -%}
