{% if (DISQUS_SITENAME or FACEBOOK_APP_ID) %}
<div class="comments info-box">
    <button id="exitComments">
        <svg class="icon icon-cancel-x">
            <use xlink:href="{{ QS_LINK['/theme/img/icons.svg'] }}#icon-cancel-x"></use>
        </svg>
    </button>
    {% if DISQUS_SITENAME %}
    <div id="disqus_thread" class="disqus-comments platform-comments">
        {# disqus deletes things here once it loads #}
    </div>
    <div id="disqusCommentsSilo" class="hidden">
        {#
            the contents of #disqusCommentsSilo are always hidden. they are
            placed into #disqus_thread before loading disqus comments. this way,
            if the browser caches the disqus script before going offline then we
            can still show the offline message to the user
        #}
        <div class="platform-comments-loader">
            <div class="platform-comments-loader-inner">
                <div class="loader"></div>
                <svg class="icon icon-disqus icon-platform">
                    <use xlink:href="{{ QS_LINK['/theme/img/icons.svg'] }}#icon-disqus"></use>
                </svg>
            </div>
        </div>
        <div class="platform-offline">
            <span>Disqus could not be reached. Are you offline?</span>
        </div>
    </div>
    {% endif %}

    {% if FACEBOOK_APP_ID %}
    <div id="fb-root"></div>
    <div class="platform-comments-loader faceboook">{# deliberately use ooo to avoid style conflicts #}
        <div class="platform-comments-loader-inner">
            <div class="loader"></div>
            <svg class="icon icon-facebook icon-platform">
                <use xlink:href="{{ QS_LINK['/theme/img/icons.svg'] }}#icon-facebook"></use>
            </svg>
        </div>
    </div>
    <div class="platform-offline faceboook">{# deliberately use ooo to avoid style conflicts #}
        <span>Facebook could not be reached. Are you offline?</span>
    </div>
    <div class="fb-comments platform-comments"
        data-href="{{ SITEURL }}/{{ article.url }}"
        data-numposts="20"
        data-colorscheme="dark"
        data-order-by="reverse_time"
        data-width="100%"
    >{# fb doesn't like having things here - it fails to load #}</div>
    {% endif %}
</div>
{% endif %}
{% if DISQUS_SITENAME %}{# update the disqus comments count #}
<script id="dsq-count-scr" src="https://{{ DISQUS_SITENAME }}.disqus.com/count.js" async></script>
{% endif %}
