{% if (DISQUS_SITENAME or FACEBOOK_APP_ID) %}
<div class="comments info-box">
    <div class="choose-comments-platform">
        Comment with your preferred platform:
        {% if FACEBOOK_APP_ID %}
        <span class="comment-with fb"><i class="fa fa-facebook" aria-hidden="true"></i></span>
        {# this functionality is deprecated by the facebook api:
        <span class="comments-count fb-comments-count" data-href="{{ SITEURL }}/{{ article.url }}">0</span>
        previously it would automatically populate the span with a comment count #}
        <span class="comments-count fb-comment-count">0</span>
        {% endif %}
        {% if DISQUS_SITENAME %}
        <span class="comment-with disqus"><img src="{{ QS_LINK['/theme/img/disqus_logo.png'] }}" alt="Disqus"></span>
        <span class="comments-count disqus-comment-count" data-disqus-identifier="{{ article.title }}">0</span>
        {% endif %}
    </div>
    {% if DISQUS_SITENAME %}<div id="disqus_thread" class="disqus-comments"></div>{% endif %}
    {% if FACEBOOK_APP_ID %}<div id="fb-root"></div>
    <div class="fb-comments-loader">
        <span class="fa-stack">
            <i class="fa fa-circle-o-notch fa-stack-2x fa-spin" aria-hidden="true"></i>
            <i class="fa fa-facebook fa-stack-1x" aria-hidden="true"></i>
        </span>
    </div>
    <div class="fb-comments"
        data-href="{{ SITEURL }}/{{ article.url }}"
        data-numposts="20"
        data-colorscheme="dark"
        data-order-by="reverse_time"
        data-width="100%"
    ></div>{% endif %}
</div>
{% endif %}
