{% if (DISQUS_SITENAME or FACEBOOK_APP_ID) %}
<div class="comments-opener">
    comment<br>
    {% if FACEBOOK_APP_ID %}
    <div class="comment-with fb">
        <svg class="icon icon-facebook-square">
            <use xlink:href="{{ QS_LINK['/theme/img/icons.svg'] }}#icon-facebook-square"></use>
        </svg>
        {# this functionality is deprecated by the facebook api:
        <span class="comments-count fb-comments-count" data-href="{{ SITEURL }}/{{ article.url }}">0</span>
        previously it would automatically populate the span with a comment count #}
        <span class="comments-count fb-comment-count">0</span>
    </div>
    {% endif %}
    {% if DISQUS_SITENAME %}
    <div class="comment-with disqus">
        <svg class="icon icon-disqus">
            <use xlink:href="{{ QS_LINK['/theme/img/icons.svg'] }}#icon-disqus"></use>
        </svg>
        <span class="comments-count disqus-comment-count" data-disqus-identifier="{{ article.title }}">0</span>
    </div>
    {% endif %}
</div>
{% endif %}
