{% if (DISQUS_SITENAME or FACEBOOK_APP_ID) %}
<div class="comments info-box">
    <div class="choose-comments-platform">
        Comment with your preferred platform:
        <span class="keep-together">
            {% if FACEBOOK_APP_ID %}
            <div class="comment-with fb">
                <svg class="icon icon-facebook-square">
                    <use xlink:href="{{ QS_LINK['/theme/img/icons.svg'] }}#icon-facebook-square"></use>
                </svg>
            </div>
            {# this functionality is deprecated by the facebook api:
            <span class="comments-count fb-comments-count" data-href="{{ SITEURL }}/{{ article.url }}">0</span>
            previously it would automatically populate the span with a comment count #}
            <span class="comments-count fb-comment-count">0</span>
            {% endif %}
            {% if DISQUS_SITENAME %}
            <div class="comment-with disqus">
                <svg class="icon icon-disqus">
                    <use xlink:href="{{ QS_LINK['/theme/img/icons.svg'] }}#icon-disqus"></use>
                </svg>
            </div>
            <span class="comments-count disqus-comment-count" data-disqus-identifier="{{ article.title }}">0</span>
            {% endif %}
        </span>
    </div>

    {% if DISQUS_SITENAME %}
    <div id="disqus_thread" class="disqus-comments platform-comments">
        {# disqus deletes things here once it loads #}
        <div id="disqusCommentsLoader" class="platform-comments-loader">
            <div class="platform-comments-loader-inner">
                <svg class="icon icon-circle-o-notch">
                    <use xlink:href="{{ QS_LINK['/theme/img/icons.svg'] }}#icon-circle-o-notch">
                        <animateTransform
                            attributeType="xml"
                            attributeName="transform"
                            type="rotate"
                            from="-360 32 32"
                            to="0 32 32"
                            dur="2s"
                            additive="sum"
                            repeatCount="indefinite"
                        />
                    </use>
                </svg>
                <svg class="icon icon-disqus icon-platform">
                    <use xlink:href="{{ QS_LINK['/theme/img/icons.svg'] }}#icon-disqus"></use>
                </svg>
            </div>
        </div>
        <div id="disqusOffline" class="platform-offline">
            <span>Disqus could not be reached. Are you offline?</span>
        </div>
    </div>
    {% endif %}

    {% if FACEBOOK_APP_ID %}
    <div id="fb-root"></div>
    <div id="fbCommentsLoader" class="platform-comments-loader">
        <div class="platform-comments-loader-inner">
            <svg class="icon icon-circle-o-notch">
                <use xlink:href="{{ QS_LINK['/theme/img/icons.svg'] }}#icon-circle-o-notch">
                    <animateTransform
                        attributeType="xml"
                        attributeName="transform"
                        type="rotate"
                        from="-360 32 32"
                        to="0 32 32"
                        dur="2s"
                        additive="sum"
                        repeatCount="indefinite"
                    />
                </use>
            </svg>
            <svg class="icon icon-facebook icon-platform">
                <use xlink:href="{{ QS_LINK['/theme/img/icons.svg'] }}#icon-facebook"></use>
            </svg>
        </div>
    </div>
    <div id="fbOffline" class="platform-offline">
        <span>Facebook could not be reached. Are you offline?</span>
    </div>
    <div class="fb-comments platform-comments"
        data-href="{{ SITEURL }}/{{ article.url }}"
        data-numposts="20"
        data-colorscheme="dark"
        data-order-by="reverse_time"
        data-width="100%"
    >{# fb doesn't like having things here - it fails to load #}</div>
    {% endif %}
</div>
{% endif %}
{% if DISQUS_SITENAME %}{# update the disqus comments count #}
<script id="dsq-count-scr" src="https://{{ DISQUS_SITENAME }}.disqus.com/count.js" async></script>
{% endif %}
