{% if (DISQUS_SITENAME or FACEBOOK_APP_ID) %}
<script>
var commentsPlatforms = [
    {% if FACEBOOK_APP_ID %}'FB',{% endif %}
    {% if DISQUS_SITENAME %}'Disqus'{% endif %}
];
addEvent(window, 'load', function () {
    foreach(commentsPlatforms, function(i, platformI) {
        addEvent( // 'button' event
            document.querySelector('.comment-with.' + platformI.toLowerCase()),
            'click',
            function(e) { renderComments(platformI); }
        );
        addEvent( // 'button-count' event
            document.querySelector(
                '.comment-with.' + platformI.toLowerCase() + '+span'
            ),
            'click',
            function(e) { renderComments(platformI); }
        );
    });
});

function renderComments(platformI) {
    document.querySelector('.choose-comments-platform').style.marginBottom = '30px';
    foreach(commentsPlatforms, function(j, platformJ) {
        var commentsArea = document.querySelector(
            '.' + platformJ.toLowerCase() + '-comments'
        );
        var button = document.querySelector(
            '.comment-with.' + platformJ.toLowerCase()
        );
        if (platformI == platformJ) { // show this comments platform
            commentsArea.style.display = 'block';
            button.classList.add('selected');
        } else { // hide all other comments platforms
            commentsArea.style.display = 'none';
            button.classList.remove('selected');
        }
    });
}
</script>
{% endif %}
