{% if DISQUS_SITENAME and article %}
<script>
var disqus_config = function () {
    {% if (SITEURL != '') %}this.page.url = '{{ SITEURL }}/{{ article.url }}';{% endif %}
    this.page.identifier = '{{ article.title }}';
    this.page.sortOrder = 'newest';
    this.callbacks.onNewComment = [function(data) { disqusCommentAdded();}]
};
(function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
function disqusCommentAdded() {
    // update the comment count. beware the 10 minute delay (stackoverflow.com/q/38586878)
    DISQUSWIDGETS.getCount({ reset: true });
}
</script>
<script id="dsq-count-scr" src="https://{{ DISQUS_SITENAME }}.disqus.com/count.js" async></script>
<noscript>Please enable Javascript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
