{% if DISQUS_SITENAME and article %}
<script>
var disqus_config = function () {
    {% if (SITEURL != '') %}this.page.url = '{{ SITEURL }}/{{ article.url }}';{% endif %}
    this.page.identifier = '{{ article.title }}';
    this.page.sortOrder = 'newest';
    this.callbacks.onReady = [disqusReady];
    this.callbacks.onNewComment = [disqusCommentUpdated];
};
function loadDisqusPlatform() {
    // this function is called when the disqus button is first clicked
    document.querySelector('.disqus-comments').style.marginBottom = '50px';
    (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
}
function disqusCommentUpdated(data) {
    // update the comment count. beware the 10 minute delay
    // (stackoverflow.com/q/38586878)
    // could use a local var to keep track of comment count here to avoid the
    // 10 minute delay? but there is no event when a comment gets deleted, so it
    // would not be 100% accurate.
    DISQUSWIDGETS.getCount({ reset: true });
}
function disqusReady(data) {
    document.querySelector('.disqus-comments').style.marginBottom = '0px';
}
function disqusUpdateCommentCount() {
    ajax(
        'https://cors-anywhere.herokuapp.com/https://{{ DISQUS_SITENAME }}.' +
        'disqus.com/count-data.js?1=' + encodeURIComponent('{{ article.title }}') +
        '&nocache=' + unixtime(),
        function(response) {
            try {
                var matches = response.match(/DISQUSWIDGETS.displayCount\((.*)\)/i);
                var json = matches[1]; // capture group
                document.querySelector('.disqus-comment-count').innerHTML = JSON.
                parse(json).counts[0].comments;
            } catch (err) {}
        }
    );
}
disqusUpdateCommentCount(); // init
</script>
<script id="dsq-count-scr" src="https://{{ DISQUS_SITENAME }}.disqus.com/count.js" async></script>
{% endif %}
