<footer class="invisible">
    <address id="about">
        {{ BLOG_DESCRIPTION }}.
        Created with <span class="keep-together"><a href="https://getpelican.com/">Pelican <svg class="icon icon-external-link"><use xlink:href="{{ QS_LINK['/theme/img/icons.svg'] }}#icon-external-link"></use></svg></a></span>,
        <span class="keep-together"><a href="https://www.python.org/">python <svg class="icon icon-external-link"><use xlink:href="{{ QS_LINK['/theme/img/icons.svg'] }}#icon-external-link"></use></svg></a></span>,
        <span class="keep-together"><a href="https://en.wikipedia.org/wiki/JavaScript">JavaScript <svg class="icon icon-external-link"><use xlink:href="{{ QS_LINK['/theme/img/icons.svg'] }}#icon-external-link"></use></svg></a></span>,
        and <span class="keep-together"><a href="https://icomoon.io/app/">Ico Moon <svg class="icon icon-external-link"><use xlink:href="{{ QS_LINK['/theme/img/icons.svg'] }}#icon-external-link"></use></svg></a></span>.
        Hosted on <span class="keep-together"><a href="{{ GITHUB_URL }}">github <svg class="icon icon-github"><use xlink:href="{{ QS_LINK['/theme/img/icons.svg'] }}#icon-github"></use></svg></a></span>.
        <br>
        <a href="{{ SITEURL }}/{{ ALL_RSS_SAVE_AS }}"><svg class="icon icon-feed"><use xlink:href="{{ QS_LINK['/theme/img/icons.svg'] }}#icon-feed"></use></svg> RSS</a>&nbsp;&nbsp;&nbsp;
        <a href="{{ SITEURL }}/{{ ALL_ATOM_SAVE_AS }}"><svg class="icon icon-feed"><use xlink:href="{{ QS_LINK['/theme/img/icons.svg'] }}#icon-feed"></use></svg> Atom</a>
        <br>
        <div class="cookie-policy-link">
            <a href="{{ SITEURL }}/cookie-notice/">Cookie policy</a>
        </div>
    </address>
</footer>
