{# make pelican variables available to js #}
<script>
var siteGlobals = {
    events: {},
    sitename: '{{ SITENAME }}',
    sitenameASCIIArt: "{{ SITENAME_ASCIIART | replace('\\', '\\\\') | replace('!', '"') | replace('\n', '\\n" +\n') }}",
    siteURL: '{{ SITEURL }}',
    githubURL: '{{ GITHUB_URL }}',
    facebookAppID: '{{ FACEBOOK_APP_ID }}',
    disqusSiteName: '{{ DISQUS_SITENAME }}',
    googleAdClient: '{{ GOOGLE_AD_CLIENT }}',
    enableAds: {% if (page and page.no_ads) %}false{% else %}true{% endif %},
    commentsPlatforms: [
        {%- if FACEBOOK_APP_ID %}'FB'{% endif -%}
        {%- if DISQUS_SITENAME %},'Disqus'{% endif -%}
    ],
    {% if article %}
    article: {
        {%- if article.title %}title: '{{ article.title }}'{% endif -%}
        {%- if article.url %},url: '{{ article.url }}'{% endif -%}
        {%- if article.console_explain_scripts %},consoleExplainScripts: '{{ article.console_explain_scripts }}'{% endif -%}
    }
    {% endif %}
};
</script>
