{# make pelican variables available to js #}
<script>
var siteGlobals = {
    sitename: '{{ SITENAME }}',
    sitenameASCIIArt: "{{ SITENAME_ASCIIART | replace('\\', '\\\\') | replace('!', '"') | replace('\n', '\\n" +\n') }}",
    githubURL: '{{ GITHUB_URL }}',
    siteURL: '{{ SITEURL }}'{% if article %},
    article: {
        {% if article.title %}title: '{{ article.title }}'{% endif %}{% if article.console_explain_scripts %},
        consoleExplainScripts: '{{ article.console_explain_scripts }}'{% endif %}
    }{% endif %}
};
</script>
