<div class="logo-container">
    <div class="logo-positioner">
        <div class="logo-cropper">
            <canvas class="matrix-text-green"></canvas>
            <canvas class="matrix-text-white"></canvas>
            {# note: these images are also included in the html link preloads #}
            {# <img src="{{ QS_LINK['/theme/img/shattered-glass-2b.png'] if position == 'top' else QS_LINK['/theme/img/shattered-glass-black.png'] }}" class="logo-img" alt="website logo"> #}
            <img src="{{ QS_LINK['/theme/img/shattered-glass-black.png'] }}" class="logo-img" alt="website logo">
        </div>
        <div class="logo-hide-border-artifacts"></div>
    </div>
</div>
