<div class="logo-container">
    <div class="logo-positioner">
        <div class="logo-cropper">
            <img src="{{ SITEURL }}/theme/img/matrix-background.png" id="logo_background_fallback">
            <canvas class="matrix-text-green"></canvas>
            <canvas class="matrix-text-white"></canvas>
            <img src="{{ SITEURL }}/theme/img/shattered-glass-{{ '2b' if position == 'top' else 'black' }}.png" id="logo_img" alt="website logo">
        </div>
        <div class="logo-hide-border-artifacts"></div>
    </div>
</div>
