{%- macro media_search_box(search_placeholder) -%}
{% from 'form_container.html' import form_container with context %}
{{ form_container('searchBox', 'start', None, False) }}
    <div class="left">
        <label for="search" class="for-search-box">search</label>
        <br>
        <input id="search" type="text" placeholder="{{ search_placeholder }}" disabled>
    </div>
    <div class="left">
        <label for="sortBy" class="for-sort-dropdown">sort by</label>
        <br>
        <select id="sortBy" disabled>
            <option value="highest-rating">highest rating</option>
            <option value="lowest-rating">lowest rating</option>
            <option value="newest">newest reviews</option>
            <option value="oldest">oldest reviews</option>
            <option value="title-a-z">title ascending</option>
            <option value="title-z-a">title descending</option>
        </select>
    </div>
{{ form_container('searchBox', 'end') }}
{%- endmacro -%}
