{% set include_stylesheets = False %}
{% set include_preloads = False %}
{% set include_ie_shim = False %}
{% set include_favicons = False %}
{% set include_js_globals = False %}
{% set include_manifest = False %}
{% set include_standard_body = False %}
{% extends 'base.html' %}

{% if MEDIA_REVIEWS["CURRENT_MEDIA_TYPE"] == "movie" %}
    {% set og_type = 'video.movie' %}
{% elif MEDIA_REVIEWS["CURRENT_MEDIA_TYPE"] == "tv-series" %}
    {% set og_type = 'video.tv_show' %}
{% elif MEDIA_REVIEWS["CURRENT_MEDIA_TYPE"] == "book" %}
    {% set og_type = 'book' %}
{% endif %}

{% block non_standard_css %}
<style>
    html, body{
        margin: 0;
        padding: 0;
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        background-color: #000000;/*black*/
    }
</style>
{% endblock %}

{% block og_type %}{{ og_type }}{% endblock %}
{% block og_title %}{{ MEDIA_REVIEWS[MEDIA_REVIEWS["CURRENT_MEDIA_TYPE"]]["caps_name"] }} Review: {{ MEDIA_REVIEWS["CURRENT_MEDIA_DATA"]["title"] }}{% if MEDIA_REVIEWS["CURRENT_MEDIA_TYPE"] == "tv-series" %} Season {{ MEDIA_REVIEWS["CURRENT_MEDIA_DATA"]["season"] }}{% endif %}{% endblock %}
{% block og_description %}{{ MEDIA_REVIEWS["CURRENT_MEDIA_DATA"]["rating"] }}/5&#9733; {{ MEDIA_REVIEWS["CURRENT_MEDIA_DATA"]["reviewTitle"] }}{% endblock %}
{% block og_image %}{{ MEDIA_REVIEWS["CURRENT_MEDIA_DATA"]["larger_image_url"] }}{% endblock %}

{% block og_image_width %}{{ MEDIA_REVIEWS["CURRENT_MEDIA_DATA"]["larger_width"] }}{% endblock %}
{% block og_image_height %}{{ MEDIA_REVIEWS["CURRENT_MEDIA_DATA"]["larger_height"] }}{% endblock %}
{% block og_custom %}
    {%- if MEDIA_REVIEWS["CURRENT_MEDIA_TYPE"] == "movie" -%}
    {%- elif MEDIA_REVIEWS["CURRENT_MEDIA_TYPE"] == "tv-series" -%}
    {%- elif MEDIA_REVIEWS["CURRENT_MEDIA_TYPE"] == "book" -%}
        <meta property="book:author" content="{{ MEDIA_REVIEWS["CURRENT_MEDIA_DATA"]["author"] }}"/>
        <meta property="book:isbn" content="{{ MEDIA_REVIEWS["CURRENT_MEDIA_DATA"]["isbn"] }}"/>
    {%- endif -%}
{% endblock %}


{% block non_standard_body %}
<script>
window.location.replace('{{ SITEURL }}/{{ MEDIA_REVIEWS["CURRENT_MEDIA_TYPE"] }}-reviews/#!{{ MEDIA_REVIEWS["CURRENT_MEDIA_DATA"]["id"] }}');
</script>
{% endblock %}
