{# modified from sidebar.html #}
<ul class="nav-menu">
    {% for cat, articles in categories %}
    <a href="{{ SITEURL }}/{{ cat.url }}" {% if cat == category %}class="active"{% endif %}>
        <i class="fa fa-folder-open-o" aria-hidden="true"></i> {{ cat }}<sup> {{ articles | count }}</sup>
    </a>
    {% endfor %}
    <a href="{{ SITEURL }}/archives/" {% if output_file == "archives/index.html" %}class="active"{% endif %}>
        <i class="fa fa-file-text-o" aria-hidden="true"></i> all<sup>&nbsp;</sup>
    </a>
    <a href="{{ SITEURL }}/tags/" {% if output_file == "tags/index.html" %}class="active"{% endif %}>
        <i class="fa fa-hashtag" aria-hidden="true"></i> all<sup>&nbsp;</sup>
    </a>
</ul>
