{% if article %}
    {% set category = article.category %}
{% elif (page and page.page_as_sub_article) %}
    {% set category = page.category %}
{% endif %}
<ul class="nav-menu">
    {% for cat, articles in categories %}
    <a href="{{ SITEURL }}/{{ cat.url }}"{% if cat == category %} class="active"{% endif %}>
        <svg class="icon icon-folder-open-o"><use xlink:href="{{ QS_LINK['/theme/img/icons.svg'] }}#icon-folder-open-o"></use></svg>
        {{ cat }}<sup> {{ articles | count }}</sup>
    </a>
    {% endfor %}
    <a href="{{ SITEURL }}/archives/"{% if output_file == "archives/index.html" %} class="active"{% endif %}>
        <svg class="icon icon-file-text-o"><use xlink:href="{{ QS_LINK['/theme/img/icons.svg'] }}#icon-file-text-o"></use></svg>
        all<sup>&nbsp;</sup>
    </a>
    <a href="{{ SITEURL }}/tags/"{% if output_file == "tags/index.html" %} class="active"{% endif %}>
        <svg class="icon icon-hashtag"><use xlink:href="{{ QS_LINK['/theme/img/icons.svg'] }}#icon-hashtag"></use></svg>
        all<sup>&nbsp;</sup>
    </a>
    {% if (position == "top") and (article or (page and page.page_as_sub_article)) %}
        {% include 'comments_opener.html' %}
    {% endif %}
</ul>

