{% set include_stylesheets = True %}
{% set include_preloads = True %}
{% set include_ie_shim = True %}
{% set include_favicons = True %}
{% set include_js_globals = True %}
{% set include_manifest = True %}
{% set include_standard_body = True %}
{% set LINKED_DATA = {
    "@context": "http://schema.org",
    "@type": "WebPage",
    "name": page.title,
    "description": page.summary,
    "image": QS_LINK["/theme/img/shattered-glass-matrix.png"],
    "datePublished": BLOG_FIRST_PUBLISHED_DATE
} %}
{% extends "base.html" %}
{% block description %}{{ page.summary }}{% endblock %}
{% block og_title %}{{ page.title }}{% endblock %}
{% block og_description %}{{ page.summary }}{% endblock %}
{% block content %}
<section id="content" class="body">
    <h1 class="entry-title">{{ page.title }}</h1>
    <div class="entry-content">
{{ page.content }}
    </div>
    <div class="bottom-spacer"></div>
{% if not page.no_comments %}
     {% include 'comments.html' %}
{% endif %}
</section>
{% endblock %}
