{% set include_stylesheets = True %}
{% set include_preloads = True %}
{% set include_ie_shim = True %}
{% set include_favicons = True %}
{% set include_js_globals = True %}
{% set include_manifest = True %}
{% set include_standard_body = True %}
{% set LINKED_DATA = {
    "@context": "http://schema.org",
    "@type": "WebPage",
    "author": {
        "@type": "Person",
        "name": AUTHOR
    },
    "name": page.ld_name if page.ld_name else page.title,
    "description": page.ld_description if page.ld_description else page.title,
    "image": QS_LINK["/theme/img/shattered-glass-matrix.png"],
    "datePublished": BLOG_FIRST_PUBLISHED_DATE
} %}
{% extends "base.html" %}
{% block description %}{{ page.description }}{% endblock %}
{% block og_title %}{{ page.og_title if page.og_title else page.title }}{% endblock %}
{% block og_description %}
    {%- if page.og_description -%}
        {{ page.og_description }}
    {%- else -%}
        {{ page.title }}
    {%- endif -%}
{% endblock %}
{% block og_type %}
    {%- if page.og_type -%}
        {{ page.og_type }}
    {%- else -%}
        {{ super() }}
    {%- endif -%}
{% endblock %}
{% block og_image %}
    {%- if page.thumbnail_larger_image -%}
        {{ QS_LINK[page.thumbnail_larger_image] }}
    {%- else -%}
        {{ super() }}
    {%- endif -%}
{% endblock %}
{% block og_image_width %}
    {%- if page.thumbnail_larger_width -%}
        {{ page.thumbnail_larger_width }}
    {%- else -%}
        {{ super() }}
    {%- endif -%}
{% endblock %}
{% block og_image_height %}
    {%- if page.thumbnail_larger_height -%}
        {{ page.thumbnail_larger_height }}
    {%- else -%}
        {{ super() }}
    {%- endif -%}
{% endblock %}
{% block content %}
<section id="content" class="body">
    <article>
        <header>
            <h1 class="entry-title">
                <a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>
            </h1>
        </header>
        <div class="entry-content">
{% if page.page_as_sub_article %}
            <div class="info-box">
                {% include 'article_infos.html' %}
            </div>
{% endif %}
{{ page.content }}
        </div>
        <div class="bottom-spacer"></div>
{% if not page.no_comments %}
         {% include 'comments.html' %}
{% endif %}
    </article>
</section>
{% endblock %}
