{% set include_stylesheets = True %}
{% set include_preloads = True %}
{% set include_ie_shim = True %}
{% set include_favicons = True %}
{% set include_js_globals = True %}
{% set include_manifest = True %}
{% set include_standard_body = True %}
{% set include_linked_data = True %}
{% extends "base.html" %}
{% block content %}
<section id="content" class="body">
    <h1 class="entry-title">{{ page.title }}</h1>
    {% if PDF_PROCESSOR %}
    <a href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf">get the pdf</a>
    {% endif %}
    <div class="entry-content">
{{ page.content }}
    </div>
</section>
{% endblock %}
