<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url>
        <loc>{{ SITEURL }}/</loc>
        <changefreq>monthly</changefreq>
        <priority>1.0</priority>
    </url>
    {% for article in articles %}
    <url>
        <loc>{{ SITEURL }}/{{ article.url }}</loc>
        <lastmod>
        {%- if article.modified -%}
            {{ article.modified | strftime('%Y-%m-%d') }}
        {%- else -%}
            {{ article.date | strftime('%Y-%m-%d') }}
        {%- endif -%}
        </lastmod>
        <priority>0.8</priority>
    </url>
        {% for translation in article.translations %}
    <url>
        <loc>{{ SITEURL }}/{{ translation.url }}</loc>
        <priority>0.8</priority>
    </url>
        {% endfor %}
    {% endfor %}
    {% if MEDIA_REVIEWS %}
        {% for (media_type, media_data) in MEDIA_REVIEWS.iteritems() %}

    <!-- begin hash bang URLs for {{ SITEURL }}/{{ media_type }}-reviews/ -->
            {% for hash_bang_url in media_data['hash-bang-URLs'] %}
    <url>
        <loc>{{ SITEURL }}/{{ media_type }}-reviews/#!{{ hash_bang_url }}</loc>
        <priority>0.8</priority>
    </url>
            {% endfor %}
    <!-- end hash bang URLs for {{ SITEURL }}/{{ media_type }}-reviews/ -->
        {% endfor %}

    {% endif %}
    {% for page in pages %}
    <url>
        <loc>{{ SITEURL }}/{{ page.url }}</loc>
        <priority>0.8</priority>
    </url>

        {% for translation in page.translations %}
    <url>
        <loc>{{ SITEURL }}/{{ translation.url }}</loc>
        <priority>0.8</priority>
    </url>
        {% endfor %}
    {% endfor %}
</urlset>
