<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url>
        <loc>{{ SITEURL }}/</loc>
        <changefreq>monthly</changefreq>
        <priority>1.0</priority>
    </url>
    {% for article in articles %}
    <url>
        <loc>{{ SITEURL }}/{{ article.url }}</loc>
        <lastmod>
        {%- if article.modified and (article.modified.strftime('%Y%m%d').encode('ascii', 'ignore') != DATE_NULL_VALUE_HACK_YMD) -%}
            {{ article.modified | strftime('%Y-%m-%d') }}
        {%- else -%}
            {{ article.date | strftime('%Y-%m-%d') }}
        {%- endif -%}
        </lastmod>
        <priority>0.8</priority>
    </url>
        {% for translation in article.translations %}
    <url>
        <loc>{{ SITEURL }}/{{ translation.url }}</loc>
        <priority>0.8</priority>
    </url>
        {% endfor %}
    {% endfor %}

    {% for page in pages %}
    <url>
        <loc>{{ SITEURL }}/{{ page.url }}</loc>
        <lastmod>
        {%- if page.modified and (page.modified.strftime('%Y%m%d').encode('ascii', 'ignore') != DATE_NULL_VALUE_HACK_YMD) -%}
            {{ page.modified | strftime('%Y-%m-%d') }}
        {%- else -%}
            {{ page.date | strftime('%Y-%m-%d') }}
        {%- endif -%}
        </lastmod>
        <priority>0.8</priority>
    </url>
        {% for translation in page.translations %}
    <url>
        <loc>{{ SITEURL }}/{{ translation.url }}</loc>
        <priority>0.8</priority>
    </url>
        {% endfor %}
    {% endfor %}
</urlset>
