{#
this is the service worker javascript file (sw.js). it must be saved to the root
directory of the site so that it has the scope to cache any file in the site. it
is located in the templates dir so that it can be saved to the root directory of
the site at build-time, and also so that it can use pelican variables.
#}
var latestCache = '{{ NOWYMD }}';
var mandatoryAssets = [
    // common assets for all pages
    '{{ QS_LINK['/theme/css/thematrix.css'] }}',
    '{{ QS_LINK['/theme/img/icons.svg'] }}',
    '{{ QS_LINK['/theme/img/shattered-glass-2b.png'] }}',
    '{{ QS_LINK['/theme/img/shattered-glass-black.png'] }}',
    '{{ QS_LINK['/theme/img/shattered-glass-matrix-192x192.png'] }}',
    '{{ QS_LINK['/theme/img/shattered-glass-matrix-512x512.png'] }}',
    '{{ QS_LINK['/theme/img/crack1.png'] }}',
    '{{ QS_LINK['/theme/img/favicon.ico'] }}',
    '{{ QS_LINK['/theme/img/apple-touch-icon.png'] }}',
    '{{ QS_LINK['/theme/img/apple-touch-icon-72x72.png'] }}',
    '{{ QS_LINK['/theme/img/apple-touch-icon-114x114.png'] }}',
    '{{ QS_LINK['/theme/js/base.js'] }}',
    '{{ QS_LINK['/theme/js/console-greeter.js'] }}',
    '{{ SITEURL }}/theme/js/manifest.json',

    // common assets for all article pages
    '{{ QS_LINK['/theme/js/comments-section.js'] }}',

    // home page
    '{{ SITEURL }}/',
    '{{ SITEURL }}/index.html',

    // archives page
    '{{ SITEURL }}/archives/',
    '{{ SITEURL }}/archives/index.html',

{#
    // tags pages
    '{{ SITEURL }}/tags/',
    '{{ SITEURL }}/tags/index.html',
{% for (tag, articles) in tags %}
    '{{ SITEURL }}/{{ tag.url }}',
    '{{ SITEURL }}/{{ tag.url }}index.html',
{% endfor %}

    // categories
{% for (cat, articles) in categories %}
    '{{ SITEURL }}/{{ cat.url }}',
    '{{ SITEURL }}/{{ cat.url }}index.html',
{% endfor %}
#}

{% set all_assets = [] %}
{% for article in articles %}
    // assets for the "{{ article.title }}" article
    '{{ SITEURL }}/{{ article.url }}',
    '{{ SITEURL }}/{{ article.url }}index.html',
    {% if article.scripts %}
        {% set scripts = article.scripts.split(',') %}
        {% for script in scripts %}
            {% if script not in all_assets %}
    '{{ QS_LINK[script] }}',
                {% set all_assets = all_assets.append(script) %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if article.stylesheets %}
        {% set stylesheets = article.stylesheets.split(',') %}
        {% for stylesheet in stylesheets %}
            {% if stylesheet not in all_assets %}
    '{{ QS_LINK[stylesheet] }}',
                {% set all_assets = all_assets.append(stylesheet) %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if article.img_preloads %}
        {% set imgs = article.img_preloads.split(',') %}
        {% for img in imgs %}
            {% if img not in all_assets %}
    '{{ QS_LINK[img] }}',
                {% set all_assets = all_assets.append(img) %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if article.jsons %}
        {% set jsons = article.jsons.split(',') %}
        {% for json in jsons %}
            {% if (json) not in all_assets %}
    '{{ QS_LINK[json] }}',
                {% set all_assets = all_assets.append(json) %}
            {% endif %}
        {% endfor %}
    {% endif %}

{% endfor %}
{% if MEDIA_REVIEWS %}
    // media reviews images
    '{{ QS_LINK['/img/imdb-logo-button.png'] }}',
    '{{ QS_LINK['/img/goodreads-logo-button.png'] }}',

{% endif %}
    // cookie warning notice
    '{{ SITEURL }}/cookie-notice/',
    '{{ SITEURL }}/cookie-notice/index.html'
];
{% if MEDIA_REVIEWS %}
var mediaReviewPages = [
    {%- for (media_type, media_data) in MEDIA_REVIEWS.items() -%}
    '{{ media_type }}-reviews'
        {%- if not loop.last -%}
        ,
        {%- endif -%}
    {%- endfor -%}
];
{% endif %}
self.addEventListener('install', function (event) {
    self.skipWaiting();
    event.waitUntil(
        caches.open(latestCache).then(function (cache) {
            return cache.addAll(mandatoryAssets);
        })
    );
});

self.addEventListener('activate', function (event) {
    // delete all caches except latestCache (saves disk space)
    caches.keys().then(function (names) {
        for (let name of names) {
            if (name == latestCache) continue;
            caches.delete(name);
        }
    });
});

self.addEventListener('fetch', function (event) {
    var request = event.request; // init
{% if False %}{# MEDIA_REVIEWS #}
    var urlObj = new URL(request.url);
    var pathParts = urlObj.pathname.split('/');
    if (
        (pathParts.length > 2)
        && (pathParts[2] != '')
        && (pathParts[2] != 'redirect.html')
        && (mediaReviewPages.indexOf(pathParts[1]) != -1)
    ) {
        // a media review sub-page is being requested. redirect to the parent
        urlObj.pathname = '/' + pathParts[1] + '/';
        pathParts.shift(); // remove empty item
        pathParts.shift(); // remove parent
        if (pathParts[pathParts.length - 1] == '') pathParts.pop(); // remove empty item
        urlObj.hash = '#!' + pathParts.join('/');
        request = new Request(urlObj.toString());
    }
{% endif %}
    event.respondWith(
        caches.match(request).then(function (swResponse) {
            if (swResponse) return swResponse;
            var urlObj = new URL(request.url);
            console.log('sw fetching, because not cached: ' + urlObj.toString());
            return fetch(request);
        })
    );
});
