#dec2hexTable .constrainWidth {
    display: inline-block;/*horizontal center*/
    width: 250px;
}
#dec2hexTable .header {
    width: 100%;
}
#dec2hexTable .header td {
    background-color: #101010;
}
#dec2hexTable .header td:first-child {
    width: 125px;
}
.vertical-scroll {
    display: block;
    overflow-y: scroll;
    height: 300px;
    width: 100%;
}
#hashingFlowchartContainer {
    margin-top: 30px;
    display: inline-block;
    overflow: visible;
}
#hashingFlowchartSVG {
    width: 440px;
    max-width:  100%;
}
table#dec2hexData {
    font-family: monospace;
    font-size: 13px;
    width: 100%;
}
table#dec2hexData tr:first-child td {
    border-top: none;
}
table#dec2hexData tr td:first-child {
    width: 125px;
}
table#dec2hexData tr:nth-child(2n + 2) td {
    background-color: #252525;
}
#dec2hexTable .instructions {
    cursor: pointer;
    border: 1px solid #6a6a6a;
    background-color: #2b2b2b;
    padding: 1px;
    margin-top: -1px;
    background-color: #101010;
}
#dec2hexTable td {
    padding: 1px;
}
#btnRunHash3, #btnRunHashSHA256Prob {
    margin-top: 21px;
}
#info3 {
    margin-top: 28px;
}
@media (max-width: 486px) {/*when x <= 486px*/
    #btnRunHash3 {
        margin-top: 0;
    }
}
@media (max-width: 734px) {/*when x <= 734px*/
    #info3 {
        margin-top: 0;
    }
}
pre {
    margin: 10px;
}
.btc-transaction-full {
    font-size: 15px;
    line-height: 17px;
    border: 1px solid #6a6a6a;/*light-grey*/
    word-break: break-all;
    padding: 10px;
    font-family: monospace;
    background-color: #2b2b2b;/*dark-grey*/
}
.btc-transaction-mini, .btc-block-header-mini, .btc-header-definition .btc-header-field {
    padding: 5px;
    text-align: center;
    min-width: 100px;
}
.btc-header-definition input {
    text-align: center;
    font-family: monospace;
}
.annex input {
    font-family: monospace;
}
#form7 #targetParent {
    max-width: 100%;
    margin-bottom: 0;
}
#form7 input {
    max-width: 100%;
}
#form7 .warnings {
    color: orange;
    display: block;
    float: left;
    clear: both;
    margin: 10px 0 10px 0;
}
#form7 .error {
    clear: both;
}
#form7 .codeblock, #unitTests7 .codeblock {
    max-height: 200px;
}
@media (min-width: 800px) {/*when x >= 800px*/
    #form7 .codeblock-container .button-background,
    #unitTests7 .codeblock-container .button-background {
        right: 10px;/*=scrollbar width*/
    }
}
#bitsAreHex7Container {
    position: relative;
}
#bitsAreHex7 {
    position: absolute;
    margin: 0;
    bottom: 1px;
    left: 7px;
}
#bitsAreHex7Container label {
    padding-left: 14px;
}
#form9 .codeblock .outputField {
    margin-right: 8px;
}
.individual-digit {
    border: 1px solid #565656;
    margin: 0 0 0 -1px;
    padding: 2px 2px 0 1px;
}
ul.error {
    list-style: none;
    margin-left: 0;
    margin-bottom: 20px;
    display: inline;
}
ul.error li {
    color: red;
    margin-bottom: 5px;
}
#form7 .error {
    float: left;
    margin: 0;
}
#blockchainSVG {
    width: 100%;
}
#form10 textarea {
    width: 100%;
    resize: vertical;
}
@media (max-width: 800px) {/*when x <= 800px*/
    #form4 input, #form9 input {
        max-width: 75vw;
    }
    #form10 textarea {
        height: 8em;
    }
}
@media (max-width: 23em) {/*when x <= 23em*/
    #easyImpossibleCodeblock {
        white-space: pre-line;
    }
}
