pre {
    margin: 10px;
}
.btc-transaction-full {
    border: 1px solid #6a6a6a;/*light-grey*/
    word-break: break-all;
    padding: 10px;
    font-family: monospace;
    background-color: #2b2b2b;/*dark-grey*/
}
.btc-block-mini, .btc-header-definition {
    border-collapse: collapse;
}
.btc-transaction-mini, .btc-block-header-mini, .btc-header-definition .btc-header-field {
    border: 1px solid #6a6a6a;/*light-grey*/
    padding: 5px;
    border-collapse: collapse;
    background-color: #2b2b2b;/*dark-grey*/
    text-align: center;
    min-width: 100px;
}
#block1MiningResults.codeblock {
    word-break: break-word;
}
.btc-header-definition input {
    text-align: center;
    font-family: monospace;
}
.individual-digit {
    border: 1px solid #565656;
    margin: 0 0 0 -1px;
    padding-right: 2px;
    padding-left: 1px;
    padding-top: 2px;
}
ul.error {
    list-style: none;
    margin-left: 0;
    margin-bottom: 20px;
}
ul.error li {
    color: red;
    font-weight: bold;
    margin-bottom: 5px;
}
span#hash0Duration {
    display: inline-block;/*keep text together*/
    margin-bottom: 6px;
}
