/* begin initially hidden section */
#xOfYMediaCount,
#noMediaCount {/*button*/
    display: none;
}
/* end initially hidden section */

/* begin search box section*/
#searchBox {
    margin-bottom: 0;
    margin-top: 10px;/*vertically align with the sidebar menu with there is no header*/
}
/* end search box section*/

/* begin media search loader section */
.media-search-loader-area {
    position: relative;
    width: 100%;
    text-align: center;
    color: #7db904;/*green*/
}
.media-search-loader {
    position: relative;
    display: inline-block;
    width: 96px;
    height: 96px;
    vertical-align: middle;
}
.search-loading-text {
    display: table-cell;
    font-size: 16px;
    vertical-align: middle;
    height: 96px;
    width: 96px;
}
/* end media loader section */

/* begin media count area */
#mediaCountPanel {
    z-index: 3;
    padding: 20px 0 20px 0;
    background: rgba(0, 0, 0, 0.8);/*black*/
}
.media-count-area {
    margin: 0;
    height: 60px;
    text-align: center;
}
/* end media count area */

/* begin each media box section */
.media {
    position: relative;
    border: 1px solid #1a1a1a;/*dark-grey*/
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    overflow: hidden;/*border outside floats*/
    background: rgba(21, 21, 21, 0.7);/*very-dark-grey*/
}

.media.pinned {
    border: 1px solid #7db904;/*green*/
}

.media .thumbnail {
    display: block;
    position: static;
    border: 1px solid #6a6a6a;/*light-grey*/
    border-radius: 4px;
    padding: 5px;
    background-color: black;
    width: 100px;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}

.media .thumbnail:after {
    content: " ";
}

.media .load-review {
    margin-right: 15px;
}
.media.placeholder .load-review {
    color: #222;/*same color as the background when disabled. i.e. hide text*/
}

.media .review-text button {
    margin-top: 15px;
}
.media .review-download-error {
    display: block;
    color: red;
    margin-top: 10px;
}

.media.movie .external-site img,
.media.tv-series .external-site img {
    width: 38px;
}

.media.book .external-site img {
    width: 20px;
}
.media.placeholder .external-site img {
    visibility: hidden;
}

.media.movie button.external-site,
.media.tv-series button.external-site {
    padding: 6px 6px 2px 6px;
}

.media.book button.external-site {
    padding: 6px 6px 1px 6px;
}

.media.placeholder .link-external {
    pointer-events: none;
}

.media .stars {
    margin: 5px 0;
}

.media .thumbnail-and-stars {
    float: left;
    width: 100px;
    text-align: center;
    display: table;/*expand to width of child while floated*/
    margin-right: 15px;
}

.media .review {
    margin-left: 130px;
    width: auto;
}

.media .media-title {
    margin-right: 20px;
}
.media.placeholder .media-title,
.media.placeholder .review-title {
    background-color: #222;
    margin-left: 127px;/*put some space between the thumbnail and this title*/
    height: 21px;
}
.media.placeholder .media-title {
    margin-right: 30px;
}

.media .review-title {
    color: #bbbbbb;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
}
.media.placeholder .review-title {
    margin-right: 150px;
}

.media .spoiler-alert,
.media .review-download-error {
    font-size: 12px;
}
.media .spoiler-alert.has-spoilers {
    color: red;
}
.media.placeholder .spoiler-alert.has-spoilers,
.media.placeholder .spoiler-alert.no-spoilers {
    display: none;
}

.media .chain-link {
    float: right;
}
.media.placeholder .chain-link {
    color: #6a6a6a;/*light-grey*/
    pointer-events: none;
}

.media p {
    margin-bottom: 0;
}
/* end each media box section */

.media .some-star {
    color: #7db904;/*green*/
}

.media.placeholder .some-star {
    color: #6a6a6a;/*light-grey*/
}

.some-star:not(:last-child) {
    margin-right: 3px;
}

.media .dates-spacer {
    height: 24px;
    float: left;
    clear: both;
    width: 100%;
}
.media .review-dates {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 10px;/*same as .media padding*/
    font-size: 12px;
    width: 100%;
}
.media .review-created {
    margin-left: 10px;/*same as .media padding*/
    float: left;
}
.media .review-updated {
    margin-right: 10px;/*same as .media padding*/
    float: right;
}
