/* begin initially hidden section */
#xOfYMediaCount,
#noMediaCount {/*button*/
    display: none;
}
/* end initially hidden section */

/* begin search box section*/
#searchBox {
    margin-bottom: 0;
}
/* end search box section*/

/* begin media loader section */
.media-loader-area {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 200%;
    color: #7db904;/*green*/
}
.media-loader-inner {
    position: relative;
    display: inline-block;
    width: 96px;
    height: 96px;
    vertical-align: middle;
}
.media-loader-area .icon {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}
.media-loader-area {
    font-size: 96px;
}
.loading-text {
    display: table-cell;
    font-size: 16px;
    vertical-align: middle;
    height: 96px;
    width: 96px;
}
/* end media loader section */

/* begin media count area */
#mediaCountPanel {
    z-index: 3;
    padding: 20px 0 20px 0;
    background-color: black;
}
.media-count-area {
    margin: 0;
    height: 60px;
    text-align: center;
}
/* end media count area */

.reviews-area {
    margin-top: -20px;/*necessary to eliminate a mysterious 20px margin. no idea where that comes from!?*/
}

/* begin each media box section */
.media {
    position: relative;
    border: 1px solid #1a1a1a;/*dark-grey*/
    border-radius: 4px;
    padding: 10px;
    margin: 20px 0 20px 0;
    overflow: hidden;/*border outside floats*/
    background-color: #0b0b0b;
}

.media.pinned {
    border: 1px solid #7db904;/*green*/
}

.media img {
    position: static;
    border: 1px solid #6a6a6a;/*light-grey*/
    border-radius: 4px;
    padding: 5px;
    background-color: black;
    width: 100px;
}

.media img:after {
    content: " ";
}

.media .stars {
    margin: 5px 0;
}

.media .thumbnail-and-stars {
    float: left;
    width: 100px;
    text-align: center;
    display: table;/*expand to width of child while floated*/
    margin-right: 15px;
}

.media .review {
    margin-left: 130px;
    width: auto;
}

.media .media-title {
    margin-right: 20px;
}

.media .review-title {
    color: #bbbbbb;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
}

.media .review-explanation {
    font-size: 12px;
}

.media .chain-link {
    float: right;
}
.media p {
    margin-bottom: 0;
}
/* end each media box section */

.some-star {
    color: #7db904;/*green*/
}

.some-star:not(:last-child) {
    margin-right: 3px;
}
