select#preload, input#inputDestinationIP {
    width: 11em;
}
#cli {
    display: block;
    clear: both;
    width: 100%;
    height: 10em;
    resize: vertical;
    margin-bottom: 10px;
}
input#inputDestinationIP, textarea#routeTable, table#interactiveCLI {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
}
textarea#routeTable, table#interactiveCLI {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    resize: none;
    overflow: auto;
    white-space: pre;/*nowrap;*/
    border: none;
    line-height: 17px;
}
#destinationIPErrorContainer, #routeTableErrorContainer {
    width: 100%;
}
#destinationIPErrors {
    color: red;
}
#routeTableErrorContainer {
    display: none;/*initially hidden*/
    margin-top: 10px;
}
#routeTableErrorContainer .warning {
    color: #ff9900;/*orange*/
}
#routeTableErrorContainer .error {
    color: red;
}
table#interactiveCLI {
    border-collapse: collapse;
    display: none;
    cursor: default;
    user-select: none;/*supported by chrome and opera*/
    -webkit-user-select: none;/*safari*/
    -khtml-user-select: none;/*konqueror html*/
    -moz-user-select: none;/*firefox*/
    -ms-user-select: none;/*internet explorer/edge*/
    line-height: 16px;
}
table#interactiveCLI td, table#interactiveCLI th {
    padding: 0 0 1px 0;
    border: none;
    background: none;
}
table#interactiveCLI:not(.error) td.is-route {
    cursor: pointer;
}
table#interactiveCLI:not(.error) td.is-route:hover,
table#interactiveCLI:not(.error) td.is-route.hovered {
    background: rgba(0, 0, 255, 0.2);
}
table#interactiveCLI td.is-route.clicked {
    color: white;
    background: rgba(0, 0, 255, 0.7);
}
table#interactiveCLI .warning {
    color: #ff9900;/*orange*/
}
table#interactiveCLI .error {
    color: red;
}
table#interactiveCLI .warning.hoverlighted,
table#interactiveCLI .warning.clicklighted,
table#interactiveCLI .warning:hover {
    border: 1px solid #ff9900;/*orange*/
    margin: 0 -2px 0 -1px;
    padding-right: 1px;
    cursor: pointer;
}
table#interactiveCLI .error.hoverlighted,
table#interactiveCLI .error.clicklighted,
table#interactiveCLI .error:hover {
    border: 1px solid red;
    margin: 0 -2px 0 -1px;
    padding-right: 1px;
    cursor: pointer;
}
ul#errorList {
    position: relative;/*necessary for correct offsetTop of <li> children*/
    margin-top: 5px;
    max-height: 100px;
    overflow-y: auto;
}
ul#errorList.with-border {
    border: 1px solid #6a6a6a;
    border-radius: 4px;
    padding-left: 10px;
}
ul#errorList span.warning.hoverlighted,
ul#errorList span.warning.clicklighted,
ul#errorList span.error.hoverlighted,
ul#errorList span.error.clicklighted,
ul#errorList span.error:hover,
ul#errorList span.warning:hover {
    cursor: pointer;
    border-bottom: 1px solid;/*same color as font*/
}
.buttons-area {
    display: block;
    clear: both;
}
button#parse {
    display: none;
}
#visualRouteTable {
    padding: 0;
    overflow-x: scroll;
    visibility: hidden;/*initially hidden*/
}
#routeTableSVG {
    width: 100%;
    min-width: 800px;
}
svg {
    border: none;
}
