{# todo
rename character to digit?
#}
<html>
<head>
    <title>how do the bitcoin mining algorithms work?</title>
    <meta name="slug" content="how-do-the-bitcoin-mining-algorithms-work"/>
    <meta name="date" content="2018-04-17"/>
    <meta name="modified" content="2022-09-04"/>
    <meta name="category" content="cryptocurrencies"/>
    <meta name="stylesheets" content="/how-do-the-bitcoin-mining-algorithms-work/css/btc.css"/>
    <meta name="scripts" content="/how-do-the-bitcoin-mining-algorithms-work/js/sjcl.min.js,/how-do-the-bitcoin-mining-algorithms-work/js/btc-mining.js"/>
    <meta name="img_preloads" content="/how-do-the-bitcoin-mining-algorithms-work/img/hashing-flowchart.svg,/how-do-the-bitcoin-mining-algorithms-work/img/bitcoin-blockchain.svg"/>
    <meta name="summary" content="An interactive walkthrough of the Bitcoin mining algorithms. No prior knowledge is necessary."/>
    <meta name="console_explain_scripts" content="how-do-the-bitcoin-mining-algorithms-work/js/sjcl.min.js - the Standford University Javascript Crypto Library (https://crypto.stanford.edu/sjcl/) - used in this article to run SHA256.|how-do-the-bitcoin-mining-algorithms-work/js/btc-mining.js - code specifically for the 'how do the bitcoin mining algorithms work?' article."/>
    <meta name="jsons" content="/how-do-the-bitcoin-mining-algorithms-work/json/btc-txs-per-block-0-999.json,/how-do-the-bitcoin-mining-algorithms-work/json/hex-trial-attempts.json,/how-do-the-bitcoin-mining-algorithms-work/json/unittest-bits.json"/>
</head>
<body>
{% from 'h.html' import h with context %}
{% from 'form_container.html' import form_container with context %}
{% from 'codeblock.html' import codeblock with context %}
<blockquote><p>
Bitcoin mining involves computers competing with each other to solve a random
puzzle. The answer found by the winner is shared and verified by all
participants. The winner receives bitcoins as a reward.
</p></blockquote>

<p>In this article I will delve into what exactly this <i>random puzzle</i> is,
and how the solution found by the winner is verified. I have made the article
interactive so that you can simulate the mining algorithms for yourself and get
a feel for how mining really works. While the concepts here are not simple, they
are presented so as to be easily understood by someone with no knowledge of
programming, cryptography or Bitcoin. And I hope the interactivity will make the
whole process fun.</p>

<p>The article has 3 parts:</p>

<ul>
    <li><a href="#heading_cryptographic_hashing">cryptographic hashing</a> -
this is background material needed to understand Bitcoin mining</li>
    <li><a href="#heading_bitcoin_mining">Bitcoin mining</a></li>
    <li><a href="#heading_annex">annex</a> - filling in some of the fine detail
not discussed earlier</li>
</ul>

{% include 'ads_in_feed.html' %}
<br>
{{ h(2, 'cryptographic hashing') }}

<p>Bitcoin mining uses cryptographic hashing, so to understand Bitcoin mining
it is first necessary to understand what cryptographic hashing is and how it
works. Rather than bore you with definitions at the start, let's just dive in
and give it a go. Click the <i>SHA256</i> button a few times and look carefully
at what this does each time, then try typing different things in the
<i>pre-image</i> field and clicking the <i>SHA256</i> button to see what that
does:</p>

{{ form_container('form0', 'start') }}
    <label for="inputMessage0" class="for-textbox">pre-image</label><br>
    <div class="left">
        <input id="inputMessage0" type="text" value="hello world!" disabled>
    </div>
    <div class="left">
        <button id="btnRunHash0" disabled>SHA256</button>
    </div>
    <br>
    <div class="left">
        <span id="hash0Duration"></span>
    </div>
{{ codeblock('hash0Results', hide = True) }}
{{ form_container('form0', 'end') }}

<p><i>SHA256</i> stands for <i>Secure Hash Algorithm (256 bits)</i>.
<i>Algorithm</i> sounds complicated but it just means a series of operations
done by a computer. There are many different hashing algorithms - <i>SHA128</i>,
<i>SHA512</i>, <i>MD5</i>, <i>RIPEMD128</i>, <i>RIPEMD160</i>, etc. The
differences between these hashing algorithms are not important for the sake of
this article. All that is important is to recognise that <i>SHA256</i> is merely
one of many hashing algorithms - the one that is used in Bitcoin mining.</p>

<blockquote><p>
Cryptographic hashing involves taking a string of characters and transforming
them into another string of characters. We call the input characters the
<i>pre-image</i> and we call the output the <i>hash</i>:
</p></blockquote>

<div class="horizontal-center">
<div id="hashingFlowchartContainer">
    <object
        id="hashingFlowchartSVG"
        data="{{ QS_LINK['/how-do-the-bitcoin-mining-algorithms-work/img/hashing-flowchart.svg'] }}"
        type="image/svg+xml"
        aria-label="flowchart of SHA256 hashing, showing the input going into
the SHA256 hashing algorithm, resulting in the output"
    ></object>
</div>
</div>

<p>The output of a cryptographic hash is actually a number; however, that may
not have been obvious when you ran the <i>SHA256</i> hash above, since that
number is written in hexadecimal format - i.e. base 16. To explain what that
means, here are some hexadecimal values side by side with their decimal
equivalent values:</p>

<div class="horizontal-center" id="dec2hexTable">
    <div class="constrainWidth">
        <table class="header">
            <tr> <td>decimal</td> <td>hexadecimal</td> </tr>
        </table>
        <div class="vertical-scroll">
            <table id="dec2hexData">
                <tr> <td>0</td>  <td>0</td>  </tr>
                <tr> <td>1</td>  <td>1</td>  </tr>
                <tr> <td>2</td>  <td>2</td>  </tr>
                <tr> <td>3</td>  <td>3</td>  </tr>
                <tr> <td>4</td>  <td>4</td>  </tr>
                <tr> <td>5</td>  <td>5</td>  </tr>
                <tr> <td>6</td>  <td>6</td>  </tr>
                <tr> <td>7</td>  <td>7</td>  </tr>
                <tr> <td>8</td>  <td>8</td>  </tr>
                <tr> <td>9</td>  <td>9</td>  </tr>
                <tr> <td>10</td> <td>a</td>  </tr>
                <tr> <td>11</td> <td>b</td>  </tr>
                <tr> <td>12</td> <td>c</td>  </tr>
                <tr> <td>13</td> <td>d</td>  </tr>
                <tr> <td>14</td> <td>e</td>  </tr>
                <tr> <td>15</td> <td>f</td>  </tr>
                <tr> <td>16</td> <td>10</td> </tr>
                <tr> <td>17</td> <td>11</td> </tr>
                <tr> <td>18</td> <td>12</td> </tr>
            </table>
        </div>
        <div class="instructions noselect">click for more</div>
    </div>
</div>

<p>Don't worry, you won't need to do any hexadecimal conversions while following
this article. All you need to remember here is that hexadecimal digits go from
<code>0</code> to <code>9</code> to <code>a</code> to <code>f</code>.</p>

<p>OK, so now that you have tried cryptographic hashing, and you know about
hexadecimal format, let's have a look at a more formal definition of
cryptographic hashing. Some parts of the definition may not make sense at first,
but I will be explaining them in detail in the paragraphs that follow.</p>

<blockquote><p>
A cryptographic hashing algorithm has the following properties relevant to
Bitcoin mining:</p>
<p></p>
<ol>
    <li>It is deterministic - the same pre-image always results in the same
hash.</li>
    <li>It is quick to compute the hash value for any given pre-image.</li>
    <li>It is impossible to reverse a cryptographic hash and recover a pre-image
from its hash value, except by trying all possible pre-images.</li>
    <li>A small change to a pre-image changes the hash value so extensively
that the new hash value appears uncorrelated with the old hash value.</li>
    <li>It has a uniform probability distribution for unique pre-images.</li>
</ol>
</blockquote>

<p>Lets investigate these properties:</p>

<p>Properties 1 and 2 are quite obvious - earlier when we hashed
<code>hello world!</code> with <i>SHA256</i> it always gave
<code>7509e5bda0c762d2bac7f90d758b5b2263fa01ccbc542ab5e3df163be08e6ca9</code>
and took <span id="helloWorldHashSpeed">less than 4 milliseconds (depending on
the speed of your device)</span>, which is fairly quick. However, it must be
noted that performing the hash always takes at least <i>some</i> time, even if
it is a very small amount of time. This fact will be important when we discuss
hashing in relation to Bitcoin mining later on.</p>

<p>Property 3 explains that hashing is a one-way process. We can easily get from
a pre-image to its hash, but it is impossible to programmatically get from a
cryptographic hash back to its pre-image. The process of trying to get from a
hash back to its pre-image is called <i>inverting the hash</i>.</p>

<div id="easyImpossibleCodeblock" class="codeblock">easy:       pre-image -> SHA256 -> hash

impossible: pre-image <- SHA256 <- hash
</div>

<p>If we start with a pre-image and then hash it, then of course we already know
what the pre-image for the resulting hash is. For example, if I give you the
hash <code>7509e5bda0c762d2bac7f90d758b5b2263fa01ccbc542ab5e3df163be08e6ca9</code>
then you already know that a corresponding <i>SHA256</i> pre-image is
<code>hello world!</code>, since we already hashed <code>hello world!</code>
with <i>SHA256</i> earlier and it gave this result. But if I give you
<code>32bd2fb75ea9fdd49c0a9b97b015b47a9cf41f6fc2f773dde97c67bcfc9830c7</code>
then you will not be able to find the pre-image which results in this hash -
i.e. you will not be able to invert this hash. Seriously - give it a go:</p>

{{ form_container('form1', 'start') }}
    <input type="checkbox" id="inputCheckbox1" checked disabled>
    <label for="inputCheckbox1">automatically increment pre-image after each hash</label>
    <br><br>
    <label for="inputMessage1" class="for-textbox">pre-image</label><br>
    <div class="left">
        <input id="inputMessage1" type="text" value="a" disabled>
    </div>
    <div class="left">
        <button id="btnRunHash1" disabled>SHA256</button>
    </div>
    <br>
    <div class="left">
        <span id="info1" style="display:none;">
            (Average hash rate: <span></span> hashes per second)
        </span>
    </div>
{{ codeblock('codeblock1HashResults', start = True) }}? <span class="aligner"></span>-> SHA256 -> <span id="match1" class="individual-digits">32bd2fb75ea9fdd49c0a9b97b015b47a9cf41f6fc2f773dde97c67bcfc9830c7</span>
<span id="showResults1" style="display:none;"><span id="preImage1"></span> <span class="aligner"></span>-> SHA256 -> <span id="hash1Result" class="individual-digits"></span>
status: <span id="matchStatus1"></span></span>{{ codeblock(end = True) }}
{{ form_container('form1', 'end') }}

<p>The difficulty of inverting a <i>SHA256</i> hash is due its enormous length!
<i>SHA256</i> has approximately 2<sup>256</sup> possible different hash values.
That's
115792089237316195423570985008687907853269984665640564039457584007913129639936
different possible hash values. There are about that many atoms in the universe!
So don't feel bad for not being able to invert
<code>32bd2fb75ea9fdd49c0a9b97b015b47a9cf41f6fc2f773dde97c67bcfc9830c7</code>.
For all intents and purposes, it cannot be inverted. And that is true even when
computers do the hashing at their maximum speeds. If you click the <i>Run SHA256
Automatically</i> button below then you can have your device cycle through
pre-images and show you the results at its maximum possible speed:</p>

{{ form_container('form2', 'start') }}
    <input type="checkbox" id="inputCheckbox2" class="keep-disabled" checked disabled>
    <label for="inputCheckbox2">automatically increment pre-image after each hash</label>
    <br><br>
    <label for="inputMessage2" class="for-textbox">pre-image</label><br>
    <div class="left">
        <input id="inputMessage2" type="text" value="a" disabled>
    </div>
    <div class="left">
        <button id="btnRunHash2" disabled>Run SHA256 Automatically</button>
    </div>
    <br>
    <div class="left">
        <span id="info2" style="display:none;">
            (Average hash rate: <span></span> hashes per second)
        </span>
    </div>
    <br><br>
{{ codeblock('codeblock2HashResults', start = True) }}? <span class="aligner"></span>-> SHA256 -> <span id="match2" class="individual-digits">32bd2fb75ea9fdd49c0a9b97b015b47a9cf41f6fc2f773dde97c67bcfc9830c7</span>
<span id="showResults2" style="display:none;"><span id="preImage2"> </span> <span class="aligner"></span>-> SHA256 -> <span id="hash2Result" class="individual-digits"></span>
status: <span id="matchStatus2"></span></span>{{ codeblock(end = True) }}
{{ form_container('form2', 'end') }}

<p><span id="showHowLongForThisDevice" style="display:none;">Using your device's
average hash rate of <span class="hash2Rate"></span> hashes per second, then we
can calculate that it is going to take <span id="howLongForThisDeviceWords"></span>
to try enough combinations to invert this hash and find the solution. That's
<span id="howLongForThisDeviceNumber"></span>.</span></p>

<p>When it comes to hashing, <span class="hash2Rate">30</span> hashes per second
is actually not quick at all by computer standards. Specialized computer chips
called
<a href="https://en.wikipedia.org/wiki/Application-specific_integrated_circuit">ASICs</a>
are built to run billions of hashes per second. At the time I'm writing this
(March 2018) the total global <i>SHA256</i> hashpower is
25,000,000,000,000,000,000 hashes per second, i.e. 25 million million million
hashes per second, but even at this rate it would take 146 million million
million million million million million million years to try enough different
pre-images to invert a <i>SHA256</i> hash. That's about a million million
million years quicker than your device, but it doesn't really matter - by the
time it comes around, our sun will have long since burned out.</p>

<p>"Ok", you might think to yourself, "but maybe I don't need to try millions
and millions of pre-images to produce the hash I'm after - maybe I can just skip
ahead ... If the pre-image I start with does not give a hash that is close to
what I want, then I will just choose a pre-image further along that gives a hash
closer to what I want, and then make minor adjustments until I zero in on the
hash." But alas, this is not how cryptographic hashing works - Property 4 tells
us that hashes are both deterministic and random. They are deterministic because
a pre-image will always hash to the same value, but that value is random, so
there can be no process of zeroing in. Trying a pre-image that is "further
along" is no better than trying any other different pre-image - they all
completely modify the resulting hash.</p>

<p>Property 5 is also very important to Bitcoin mining. The reason for this will
become clear later on, but for now lets focus on understanding what it means.
Property 5 states that the output of a cryptographic hash is uniformly
distributed over the range of possible values. This property is quite
complicated so lets start by looking at some other uniform probability
distributions that are familiar to everyone - coin tosses and dice rolls. From
there we will be able to draw an analogy to <i>SHA256</i>.</p>

<p>When a coin is tossed, there are only 2 possible outcomes - heads or tails.
And assuming the coin is not weighted on one side, then each outcome has an
equally likely probability. If we count the number of heads and tails over a
large number of coin tosses - say 1000 coin tosses - we would expect to see 500
heads and 500 tails. Another way of putting this, is to say that the probability
of tossing heads is <code>500 / 1000 = 0.5 = 50%</code> and likewise for tails.
So, given that there are only 2 possible outcomes (the range of outcomes is 2),
and given that each outcome has a 50% probability, then we say that the
probability of a coin toss is uniformly distributed. Have a play with the
following coin toss simulator, and notice how both bars converge on the same
probability over a large enough number of coin tosses.</p>

{{ form_container('probabilityForm_coin', 'start') }}
    <input type="checkbox" id="inputCheckboxAutomatic_coin" disabled>
    <label for="inputCheckboxAutomatic_coin">run automatically</label>

    <input type="checkbox" id="inputCheckboxSpeed_coin" checked disabled>
    <label for="inputCheckboxSpeed_coin">show only visible coin tosses (for speed)</label>

    <input type="checkbox" id="inputCheckboxZoomYAxis_coin" disabled>
    <label for="inputCheckboxZoomYAxis_coin">zoom y-axis</label>

    <br><br>
    <div class="left">
        <button class="btnRun" disabled>Toss Coin</button>
        <button class="btnReset" disabled>Reset</button>
    </div>
    <br><br>
{{ codeblock('codeblockRandomResults_coin', start = True) }}total coin tosses: <span id="randomResultCount_coin">0</span><br>coin&nbsp;toss:&nbsp;<span id="randomResult_coin"></span>{{ codeblock(end = True) }}
    <br>
    <object
        id="probabilityGraphSVG_coin"
        data="{{ QS_LINK['/how-do-the-bitcoin-mining-algorithms-work/img/probability-graph.svg'] }}"
        type="image/svg+xml"
        aria-label="live graph of the probability distribution for a coin toss"
    ></object>
{{ form_container('probabilityForm_coin', 'end') }}

<p>Likewise when rolling a dice, there are 6 possible outcomes and each is
equally likely - <code>1,2,3,4,5,6</code>. If we roll the dice 60,000 times we
would expect to get a <code>2</code> 10,000 times, a <code>3</code> 10,000 times
and so on. The probability of rolling any side of the dice is
<code>1/6 = 0.1666... = 16.66%</code>. So as with coin tosses, dice rolls are
uniformly distributed over the range of 6. Have a play with the following dice
roll simulator and notice how the probability of rolling any number eventually
converges upon 16%. By now it is becoming obvious that uniform probability
distributions are flat probability distributions.</p>

{{ form_container('probabilityForm_dice', 'start') }}
    <input type="checkbox" id="inputCheckboxAutomatic_dice" disabled>
    <label for="inputCheckboxAutomatic_dice">run automatically</label>

    <input type="checkbox" id="inputCheckboxSpeed_dice" checked disabled>
    <label for="inputCheckboxSpeed_dice">show only visible dice rolls (for speed)</label>

    <input type="checkbox" id="inputCheckboxZoomYAxis_dice" disabled>
    <label for="inputCheckboxZoomYAxis_dice">zoom y-axis</label>

    <br><br>
    <div class="left">
        <button class="btnRun" disabled>Roll Dice</button>
        <button class="btnReset" disabled>Reset</button>
    </div>
    <br><br>
{{ codeblock('codeblockRandomResults_dice', start = True) }}total dice rolls: <span id="randomResultCount_dice">0</span><br>dice&nbsp;roll:&nbsp;<span id="randomResult_dice"></span>{{ codeblock(end = True) }}
    <br>
    <object
        id="probabilityGraphSVG_dice"
        data="{{ QS_LINK['/how-do-the-bitcoin-mining-algorithms-work/img/probability-graph.svg'] }}"
        type="image/svg+xml"
        aria-label="live graph of the probability distribution for a dice roll"
    ></object>
{{ form_container('probabilityForm_dice', 'end') }}

<p>Now that we have looked at some simple objects that exhibit uniform
probability distributions, lets look at how cryptographic hashes also exhibit
uniform probability distributions. With coin tosses and dice rolls we saw that
each possible outcome in the range had an equal probability, resulting in flat
bars in the graph. Ideally we would like to do the same thing for <i>SHA256</i>.
We would like to simply put different values into the <i>SHA256</i> hashing
algorithm and observe that each possible output value is equally as likely as
any other. However, there is a problem - as we discussed earlier, the range of
possible outputs from <i>SHA256</i> is greater than the number of atoms in the
universe! So how could we ever hope to represent this in a graph? A graph with
2<sup>256</sup> =
115792089237316195423570985008687907853269984665640564039457584007913129639936
bars would be impossible to use and no computer on earth could fill it in fast
enough to see if the bars end up flat. So unfortunately the simple approach of
graphing all possible outputs from <i>SHA256</i> is impossible. So instead we
will do the next best thing - we will just look at 1 digit at a time from the
hash output. If the hash is really uniformly distributed then any digit we pick
should also be uniformly distributed. And given that each digit in the hash is a
hexadecimal number, then the range of possible outcomes is
<code>0,1,2,3,4,5,6,7,8,9,a,b,c,d,e,f</code>. We can think of each digit in the
hash as a 16-sided dice. <i>SHA256</i> has 64 digits, so we could think of it as
64 such dice, all rolled at once. And since each of these dice has 16 sides,
then each side has a probability of <code>1/16 = 0.0625 = 6.25%</code> of being
rolled.</p>

<p>Have a play with the following <i>SHA256</i> generator and notice how the
probability of rolling any hexadecimal number eventually converges upon 6.25%.
You will have to leave it running a long time to see this.</p>

{{ form_container('probabilityForm_sha256Digit', 'start') }}
    <input type="checkbox" id="inputCheckboxAutomatic_sha256Digit" disabled>
    <label for="inputCheckboxAutomatic_sha256Digit">run automatically</label>

    <input type="checkbox" id="inputCheckboxSpeed_sha256Digit" checked disabled>
    <label for="inputCheckboxSpeed_sha256Digit">show only visible hashes (for speed)</label>

    <input type="checkbox" id="inputCheckboxZoomYAxis_sha256Digit" disabled>
    <label for="inputCheckboxZoomYAxis_sha256Digit">zoom y-axis</label>

    <br><br>
    <div class="left">
        <label for="selectBin_sha256Digit" class="for-select">inspect</label><br>
        <select id="selectBin_sha256Digit" disabled></select>
    </div>
    <div class="left">
        <label for="inputMessage_sha256Digit" class="for-textbox">pre-image</label><br>
        <input id="inputMessage_sha256Digit" type="text" value="a" disabled>
    </div>
    <div class="left">
        <button class="btnRun" disabled>Run SHA256</button>
        <button class="btnReset" disabled>Reset</button>
    </div>
    <br><br>
{{ codeblock('codeblockRandomResults_sha256Digit', start = True) }}total hashes: <span id="randomResultCount_sha256Digit"></span><br><span id="randomResult_sha256Digit"></span>{{ codeblock(end = True) }}
    <br>
    <object
        id="probabilityGraphSVG_sha256Digit"
        data="{{ QS_LINK['/how-do-the-bitcoin-mining-algorithms-work/img/probability-graph.svg'] }}"
        type="image/svg+xml"
        aria-label="live graph of the probability distribution for one digit of
SHA256"
    ></object>
{{ form_container('probabilityForm_sha256Digit', 'end') }}

<p>Now that we have discussed the properties of cryptographic hashing, we can
investigate how it is used in a technique known as <i>proof of work</i>, also
known as <i>mining</i>. <i>Proof of work</i>, as the name implies, is a way for
one computer to prove to another computer that it has completed a certain amount
of work. Let's call the computer doing the work the <i>miner</i>, and the other
computer the <i>examiner</i>. The examiner sets a test for the miner to pass by
giving it 3 things:</p>

<ul>
    <li>part of a pre-image</li>
    <li>a hash value that must be matched (called the target)</li>
    <li>the difficulty level of the test</li>
</ul>

<p>The test works like this: the miner takes the part of the pre-image it has
been given and appends a bunch of random data (called a
<a href="https://en.wikipedia.org/wiki/Cryptographic_nonce">nonce</a>) to the
end of it. It then hashes the whole thing and checks if it matches the target
given by the examiner. However, it does not need to match the entire target hash
(that would take millions of years); rather, it just needs to match part of the
target hash, as specified by the difficulty level.</p>

<p>That all sounds very complicated, but don't worry, it will be much clearer
after you give it a go. Click the <i>Mine with SHA256</i> button and look
carefully at what this does. Once you find the solution, try changing the
difficulty:</p>

{{ form_container('form3', 'start') }}
    <input type="checkbox" id="inputCheckbox3" disabled>
    <label for="inputCheckbox3">mine automatically</label>
    <br><br>
    <div class="left">
        <label for="difficulty3" class="for-select">difficulty</label><br>
        <select id="difficulty3" disabled></select>
    </div>
    <div class="left">
        <label for="inputMessage3Prefix" class="for-textbox">pre-image prefix</label><br>
        <input id="inputMessage3Prefix" type="text" class="keep-disabled" value="" disabled>
    </div>
    <div class="left">
        <label for="inputMessage3" class="for-textbox">pre-image nonce</label><br>
        <input id="inputMessage3" type="text" value="a" disabled>
    </div>
    <div class="left">
        <button id="btnRunHash3" disabled>Mine manually with SHA256</button>
    </div>
    <br>
    <div class="left">
        <span id="info3" style="display:none;">(Average hash rate: <span></span> hashes per second)</span>
    </div>
    <br><br>
{{ codeblock('codeblock3HashResults', start = True) }}SHA256 target: <span class="aligner"></span><span id="match3" class="individual-digits">0000000000000000000000000000000000000000000000000000000000000000</span>
<span id="showResults3" style="display:none;"><span id="preImage3"> </span> -> SHA256 -> <span class="aligner"></span><span id="hash3Result" class="individual-digits"></span>
status: <span id="matchStatus3"></span><span id="mining3Statistics"></span></span>{{ codeblock(end = True) }}
{{ form_container('form3', 'end') }}

<p>In that scenario, your device was the miner. When you passed the test, you
would give the nonce back to the examiner and it could verify that you did
indeed pass by running the hash for itself. It would have taken your device a
lot of attempts at hashing to pass the test (i.e. a lot of work), but it only
takes the examiner a single hash to know whether you passed or failed. This
means that your device is doing all the work and the examiner barely does any at
all.</p>

<p>As you would have noticed, the higher the difficulty, the more attempts it
will take on average to pass the test. From the results, you can also see that
there is a degree of luck involved in mining - sometimes it takes fewer attempts
than expected and sometimes it takes more. This is because hashing is a random
process.</p>

<p>Another thing to note is that the examiner can set the target value without
having to hash a pre-image to get it. The examiner does not need to know the
answer to the test before it sets the test for the miner. In this way, mining is
different from a normal school exam. All that matters is that the examiner can
verify the test once the miner submits the nonce as a solution.</p>

<p>You may be wondering why the examiner must supply part of the pre-image to
the miner. Why not just let the miner determine the entire pre-image itself? The
answer is that this is necessary to ensure that the miner always has to do work
(i.e. do lots of hashing) to find a solution to the puzzle. If the miner was
allowed to determine the entire pre-image itself, then once it had found a
solution for a given difficulty, it could simply re-use that solution over and
over and thus avoid doing any work. To ensure that the miner always does work
every time the examiner gives the miner a test, the examiner generates a new
pre-image prefix as part of every test. This way, the miner has to find a new
nonce for every test, even if the difficulty does not change.</p>

<p>The final thing to understand from this section, before we move on to Bitcoin
mining, is that the test we have done here - matching a specified number of
characters at the left-hand side of the target - is just one of many possible
types of proof-of-work test. The only criteria for a good proof-of-work test is
that the examiner must be able to fine-tune the number of attempts it takes the
miner to pass. Here are some examples of other proof-of-work tests:</p>

<ul>
    <li>matching a specified number of characters at the right-hand side of the
target</li>
    <li>matching a specified number of characters anywhere within the
target</li>
    <li>treating both the target and the mined hash as (hexadecimal) numbers,
setting the target to some large number, and requiring the miner to find a hash
lower than the target</li>
</ul>

<p>That last type of proof-of-work test is the one used in Bitcoin mining and is
explained in detail in the following section.</p>

{% include 'ads_in_feed.html' %}
<br>
{{ h(2, 'bitcoin mining') }}

<p>Now that we have explored hashing and mining in general, we can apply this
knowledge to Bitcoin mining.</p>

<blockquote><p>
Bitcoin mining involves computers competing to find the nonce part of the
pre-image for the hash of the next block in the Bitcoin blockchain. The winner
receives bitcoins as a reward.
</p></blockquote>

<p>That explanation contains a couple of new concepts, and once you understand
them then the process will make perfect sense:</p>

<ul>
    <li>a Bitcoin block</li>
    <li>the Bitcoin blockchain</li>
</ul>

<p>When someone sends some bitcoins to someone else, they begin by opening their
Bitcoin wallet (which is a program, app or website running on their device), and
then typing in the address of the recipient and the amount of bitcoin they want
to send to them. The Bitcoin wallet uses this information to construct a
transaction. Here is a real Bitcoin transaction taken from the blockchain:</p>

<div class="media-container"><div class="media-positioner">
    <div class="btc-transaction-full">
        01000000010000000000000000000000000000000000000000000000000000000000000000ffffffff0704ffff001d0102ffffffff0100f2052a01000000434104d46c4968bde02899d2aa0963367c7a6ce34eec332b32e42e5f3407e052d64ac625da6f0718e7b302140434bd725706957c092db53805b821a85b23a7ac61725bac00000000
    </div>
    <div class="media-caption">example Bitcoin transaction</div>
</div></div>

<p>For the purposes of this article, the details of this transaction are not
important, but if you are curious you can
<a href="https://blockchain.com/btc/tx/b1fea52486ce0c62bb442b530a3f0132b826c74e473d1f2c220bfa78111c5082">view
all of its information here</a>.
However, the only thing you really need to understand at this point is that a
Bitcoin transaction is just a string of characters.</p>

<p>Once the wallet software has created the transaction, it sends it out over
the internet to all the other Bitcoin nodes it can find (a Bitcoin node is just
a device running the Bitcoin software). You might have expected the transaction
to be sent only to the person who is receiving the bitcoins, but that is not the
case. In fact, that person does not even have to have their wallet software
running for the transaction to be processed.</p>

<p>Some of the Bitcoin nodes which receive the transaction are Bitcoin miners.
These miners gather the transactions they receive and put them into a block:</p>

<div class="media-container"><div class="media-positioner">
    <table>
        <tr><td class="btc-block-header-mini">header</td></tr>
        <tr><td class="btc-transaction-mini">transaction 1</td></tr>
        <tr><td class="btc-transaction-mini">transaction 2</td></tr>
        <tr><td class="btc-transaction-mini">transaction 3</td></tr>
    </table>
    <div class="media-caption">a Bitcoin block</div>
</div></div>

<p>A Bitcoin block consists of a header, followed by a list of transactions. The
block shown here only has 3 transactions, but blocks containing thousands of
transactions are most common.</p>

<p>Just as Bitcoin transactions are a string of characters, so is the block
header. The header contains all the data needed to uniquely identify the block:
</p>

<div class="media-container"><div class="media-positioner">
    <table class="btc-header-definition">
        <tr><td class="btc-header-field">version</td></tr>
        <tr><td class="btc-header-field">previous block hash</td></tr>
        <tr><td class="btc-header-field">merkle root</td></tr>
        <tr><td class="btc-header-field">timestamp</td></tr>
        <tr><td class="btc-header-field">bits</td></tr>
        <tr><td class="btc-header-field">nonce</td></tr>
    </table>
    <div class="media-caption">the Bitcoin block header</div>
</div></div>

<p>Lets look at each of these fields within the block header:</p>

<p>The <i>version</i> is just a number indicating the current version of the
<a href="https://en.bitcoin.it/wiki/Protocol_rules">Bitcoin protocol</a> (i.e.
the rules governing Bitcoin behaviour).</p>

<p>The <i>previous block hash</i> is where the <i>blockchain</i> concept comes
in - the current block references the previous block so that blocks build upon
each other over time, like so:</p>

{{ form_container('dragableBlockchain', 'start') }}
    <object
        id="blockchainSVG"
        data="{{ QS_LINK['/how-do-the-bitcoin-mining-algorithms-work/img/bitcoin-blockchain.svg'] }}"
        type="image/svg+xml"
        aria-label="graphical representation of the bitcoin blockchain, that can
be dragged left and right to see more blocks"
    ></object>
{{ form_container('dragableBlockchain', 'end') }}
<div class="media-caption">the Bitcoin blockchain</div>

<p>Looking at that diagram, we can see that the <i>previous block hash</i> value
in the current block is found by doing a <i>SHA265</i> hash twice in succession
on all the data in the previous block header. For example, the <i>previous block
hash</i> for block 1 would be found by hashing the entire block 0 header twice.
As we saw in the <a href="#heading_cryptographic_hashing">hashing section</a>
earlier, doing two <i>SHA256</i> hashes will only take a computer a fraction of
a second to complete.</p>

<p>The <i>merkle root</i> is loosely defined as a hash of all transactions
contained within the block. The transaction data is the pre-image and the
<i>merkle root</i> is the hash. This is another useful feature of cryptographic
hashing - a very small amount of data can be used to summarise a large amount of
data. The transactions in a block generally take up over 1MB, but the merkle
root is only 32 bytes (64 hexadecimal digits).</p>

<p>The <i>timestamp</i> is the current date and time of the block.</p>

<p><i>Bits</i> is a field which denotes the current mining difficulty. It is a
description of how many attempts, on average, a miner will need to make to find
a solution to the test. As mentioned at the end of the
<a href="#heading_cryptographic_hashing">previous section on hashing</a>, the
test in Bitcoin mining involves finding a hash that is lower than a given
target. The <i>bits</i> value in the block header specifies what that target
value is. The way this works is quite technical and is not necessary to
understand Bitcoin mining; however, if you are curious, I have included full
details <a href="#heading_bits_difficulty_target">in the annex</a>. The basic
principle, however, is simple - increasing the difficulty lowers the target
value so that miners will have to do more hashing attempts, and decreasing the
difficulty raises the target value so that miners will have to do fewer hashing
attempts.</p>

<p>Finally the <i>nonce</i> is something we have already discussed in the
<a href="#heading_cryptographic_hashing">section on hashing</a>. The only
difference here is that with Bitcoin the nonce is an integer.</p>

<p>OK, lets dive into a practical simulation of Bitcoin mining to see how all
this works. Click the <i>Mine manually with SHA256</i> button a few times and
have a look at what this does, both to the results area and to the nonce in the
block header:</p>

{{ form_container('form4', 'start') }}
<div class="media-container"><div class="media-positioner">
    <table class="btc-header-definition">
        <tr><td class="btc-header-field">
            <label for="version4">version</label><br>
            <input id="version4" type="text" class="data-value" size="2" value="1" disabled>
        </td></tr>
        <tr><td class="btc-header-field">
            <label for="prevHash4">previous block hash</label><br>
            <input id="prevHash4" type="text" class="data-value" size="64" value="0000000000000000000000000000000000000000000000000000000000000000" disabled>
        </td></tr>
        <tr><td class="btc-header-field">
            <label for="merkleRoot4">merkle root</label><br>
            <input id="merkleRoot4" type="text" class="data-value" size="64" value="4a5e1e4baab89f3a32518a88c31bc87f618f76673e2cc77ab2127b7afdeda33b" disabled>
        </td></tr>
        <tr><td class="btc-header-field">
            <label for="timestamp4">timestamp<span id="timestamp4Explanation"></span></label><br>
            <input id="timestamp4" type="text" class="data-value" size="24" value="03 Jan 2009 18:15:05 GMT" disabled>
        </td></tr>
        <tr><td class="btc-header-field">
            <label for="bits4">bits</label><br>
            <input id="bits4" type="text" class="data-value" size="8" value="1d00ffff" disabled>
        </td></tr>
        <tr><td class="btc-header-field">
            <label for="nonce4">nonce</label><br>
            <input id="nonce4" type="text" class="data-value" size="10" value="0" disabled>
        </td></tr>
    </table>
    <div class="media-caption">the Bitcoin block header</div>
</div></div>
<ul class="error"></ul>
<button id="btnRunHash4" disabled>Mine manually with SHA256</button>
{{ codeblock('codeblock4HashResults', start = True) }}nonce: <span class="aligner">     </span><span id="nonce4Results">0</span>
target: <span class="aligner">    </span><span id="target4" class="individual-digits"></span>
block hash: <span class="aligner"></span><span id="blockhash4" class="individual-digits"></span>
status: <span class="aligner">    </span><span id="mineStatus4"></span>{{ codeblock(end = True) }}
{{ form_container('form4', 'end') }}

<p>The data in the simulation block header is actually that of the very first
bitcoin block ever. It was mined by Satoshi Nakamoto, the creator(s) of Bitcoin,
on 3 January 2009.</p>

<p>As you can see, each mining attempt increments the nonce by 1. To find the
block hash, all of the data in the block header shown here is hashed with
<i>SHA256</i> twice. I.e. it is all put together in one big string of characters
and then hashed once with <i>SHA256</i>, and then that result is hashed with
<i>SHA256</i> again. There is a walkthrough of this process in the
<a href="#heading_annex">annex</a>; however, the details are really not
important in order to get a high-level understanding of how Bitcoin mining
works.</p>

<p>The biggest apparent difference between this mining example and the one in
the <a href="#heading_cryptographic_hashing">previous section on hashing</a> is
that the test here involves comparing two hexadecimal numbers, whereas
previously the test involved matching a certain number of digits from the
left-hand side. However, there is actually a lot of similarity between these two
types of test. Let's forget about hexadecimal numbers for a moment and just look
at some unrelated decimal numbers:</p>

<div class="codeblock">1000000000000
      1000000
</div>

<p>It is obvious that the first number is bigger than the second number. The
first one is longer, so clearly it must be bigger. But how about if we zero-pad
them i.e. put zeros before the left-most digit) so that they are the same
length? They are still the same numbers, but now they are the same length:</p>

<div class="codeblock">1000000000000
0000001000000
</div>

<p>How can we tell which is bigger? The easiest way is to begin at the
left-hand side of the number and compare each digit:</p>

<div class="codeblock"><span class="individual-digit">1</span>000000000000
<span class="individual-digit">0</span>000001000000
</div>

<p>Because <code>1</code> is greater than <code>0</code>, we know that the first
number must be a bigger number.</p>

<p>OK, now what if we zero-pad them both to 64 digits? Again they are exactly
the same numbers as before, and they are the same length, but now they have lots
of leading zeros:</p>

{{ codeblock(start = True) }}0000000000000000000000000000000000000000000000000001000000000000
0000000000000000000000000000000000000000000000000000000001000000{{ codeblock(end = True) }}

<p>The way to tell which is larger is again to begin at the left-hand side and
keep moving to the right until we find a digit that is different. The digit that
is higher belongs to the bigger number:</p>

{{ codeblock(start = True) }}<span class="individual-digits">0000000000000000000000000000000000000000000000000001</span>000000000000
<span class="individual-digits">0000000000000000000000000000000000000000000000000000</span>000001000000{{ codeblock(end = True) }}

<p>That's the technique for decimal numbers, and it is exactly the same for
hexadecimal numbers. The only difference is that decimal numbers go from
<code>0</code> to <code>9</code> whereas hexadecimal numbers go from
<code>0</code> to <code>f</code>, as you will recall from the start of this
article. If you now go back and mine a few more times in <a href="#form4">the
previous simulation</a> then the results should make a lot more sense.</p>

<p>So finally we arrive at the end of this article on Bitcoin mining. You now
know all about hashing and how hashing is used in Bitcoin mining. There is a bit
more information in the <a href="#heading_annex">annex</a> to fill in some small
gaps, however, everything already covered above is certainly enough to
understand what Bitcoin mining is and to get a feel for the amount of effort
that it requires even for the fastest computers on the planet.</p>

<p>All that remains now is to mine a block. We can cheat at this because the
above block was already mined by Satoshi Nakomoto. If we
<a href="https://www.blockchain.com/btc/block/0">inspect the blockchain</a> we
can see that the correct nonce is 2,083,236,893. <span id="makeBlockPass4">Click
here to copy the nonce back into the previous mining simulation</span> and then
click the <i>Mine manually with SHA256</i> button to see what happens.</p>

{% include 'ads_in_feed.html' %}
<br>
{{ h(2, 'annex') }}

<p>This section goes into all the detail skipped above. It is really just
intended for those (such as myself) who like to leave no stone unturned. One
thing that was not previously explained in detail was how the Bitcoin block
hashes are derived from the block header. The block header is stored as bytes in
the Bitcoin blockchain (1 byte is 2 hexadecimal digits). Previously the values
for each field in the block header were shown in formats which are easy for
humans to understand; however, conversions must be done to arrive at the storage
method used by Bitcoin.</p>

{{ h(3, 'version') }}

<p>The <i>version</i> is stored in the blockchain as 4 bytes. Try altering the
human-readable <i>version</i> value to see how this changes the value stored in
the blockchain:</p>

{{ form_container('form5', 'start', 'annex') }}
    <label for="version5" class="for-textbox">version</label><br>
    <input id="version5" type="text" class="data-value" size="10" value="1" disabled>
    <ul class="error"></ul>
{{ codeblock(start = True) }}convert to hexadecimal: <span class="aligner">         </span><span id="version5Hex"></span>
convert to 4 bytes (big endian): <span class="aligner"></span><span id="version5Bytes"></span>
convert to little endian: <span class="aligner">       </span><span id="version5BytesLE"></span>{{ codeblock(end = True) }}
{{ form_container('form5', 'end') }}

<p>Note that <i>converting to
<a href="https://en.wikipedia.org/wiki/Endianness">little endian</a> format</i>
simply means reversing the bytes.</p>

{{ h(3, 'timestamp') }}

<p>The <i>timestamp</i> is also stored in the blockchain as 4 bytes. This
currently imposes some restrictions on the permissible date range. Try altering
the human-readable <i>timestamp</i> value to see how this changes the value
stored in the blockchain:</p>

{{ form_container('form6', 'start', 'annex') }}
    <label for="timestamp6" class="for-textbox">timestamp<span id="timestamp6Explanation"></span></label><br>
    <input id="timestamp6" type="text" class="data-value" size="24" value="03 Jan 2009 18:15:05 GMT" disabled>
    <ul class="error"></ul>
{{ codeblock(start = True) }}timestamp: <span class="aligner">                                   </span><span id="timestamp6GMT"></span>
convert to unixtime (integer): <span class="aligner">               </span><span id="timestamp6Unixtime"></span>
convert to hexadecimal (always 4 bytes - big endian): <span class="aligner"></span><span id="timestamp6Bytes"></span>
convert to little endian: <span class="aligner">                    </span><span id="timestamp6BytesLE"></span>{{ codeblock(end = True) }}
{{ form_container('form6', 'end') }}

{{ h(3, 'bits / difficulty / target') }}

<p><i>Bits</i>, <i>difficulty</i> and <i>target</i> are three different ways of
expressing the same thing - namely the amount of work involved in mining.
<i>Bits</i> is a compact format used in the block header. It only uses 4 bytes,
which saves a lot of space compared to the 32 byte <i>target</i>.
<i>Difficulty</i> is the inverse ratio of a given <i>target</i> to the
<i>target</i> in the very first Bitcoin block. <i>Difficulty</i> in the Bitcoin
source code is a double precision number, which means that it is accurate to 15
significant digits. The Bitcoin source code has functions for converting between
<i>bits</i>, <i>target</i> and <i>difficulty</i>.</p>

<p><i>Bits</i> is a form of
<a href="https://en.wikipedia.org/wiki/Floating-point_arithmetic">floating point
notation</a>. The first byte of the <i>bits</i> value is the exponent (called
the <i>size</i> during the <i>bits</i> -> <i>target</i> and <i>target</i> ->
<i>bits</i> conversions, and <i>shift</i> during the <i>bits</i> ->
<i>difficulty</i> conversion) and the final 3 bytes of the <i>bits</i> value are
the mantissa (called the <i>word</i> during the <i>bits</i> -> <i>target</i>
conversion and <i>compact</i> during the <i>target</i> -> <i>bits</i>
conversion). There is no reason for the different naming conventions - the
Bitcoin source code is just inconsistent. Setting bit <code>00800000</code> in
the <i>bits</i> value makes the target negative.</p>

<p>As discussed in the <a href="#heading_bitcoin_mining">previous section on
Bitcoin mining</a>, <i>target</i> is used as the threshold during mining. It is
a 32 byte (ie. 256 bit) number.</p>

<p><i>Difficulty</i> is a human-readable indication of the amount of work
involved in mining, relative to the work required to mine the very first Bitcoin
block. So for example, a <i>difficulty</i> of 2 means that it will take twice as
much work, on average, to mine a block as it took to mine the first block.
<i>Difficulty</i> is calculated as:</p>

<div class="horizontal-center">
<pre>
difficulty = first_block_target / current_target
</pre>
</div>

<p>The first block target was
<code>00000000ffff0000000000000000000000000000000000000000000000000000</code>.
</p>

<p>As the <i>difficulty</i> increases, the target decreases. This makes sense,
since it takes more hashpower to mine a block hash below a lower target.
According to the Bitcoin source code, the <i>difficulty</i> can never be
negative, so converting a negative <i>bits</i> value to <i>difficulty</i> and
back will give a different result to the original value.</p>

<p>In the following box you can convert between <i>bits</i>, <i>target</i> and
<i>difficulty</i>. To perform these calculations I have carefully transcribed
the c++ Bitcoin source code into Javascript which runs on this page. The
textarea explains exactly what the original Bitcoin source code does to perform
the conversions.</p>

{{ form_container('form7', 'start', 'annex') }}
    <div class="left">
        <label for="difficulty7" class="for-textbox">difficulty</label><br>
        <input id="difficulty7" type="text" class="data-value" size="20" value="1" disabled>
    </div>
    <div class="left">
        <label for="bits7" class="for-textbox">bits
        <span id="bitsAreHex7Container">
            (<input type="checkbox" id="bitsAreHex7" checked disabled>
            <label for="bitsAreHex7">hexadecimal</label>)</label>
        </span>
        <br>
        <input id="bits7" type="text" class="data-value" size="8" value="1d00ffff" disabled>
    </div>
    <div class="left" id="targetParent">
        <label for="target7" class="for-textbox">target</label><br>
        <input id="target7" type="text" class="data-value" size="64" value="00000000ffff0000000000000000000000000000000000000000000000000000" disabled>
    </div>
    <ul class="error"></ul>
    <span class="warnings" style="display:none;">Warning: This difficulty does not convert exactly to a bits or target value. The closest bits and target conversions are shown.</span>
{{ codeblock() }}
{{ form_container('form7', 'end') }}

<p>The Bitcoin source code
<a href="https://github.com/bitcoin/bitcoin/tree/master/src/test">has unit tests</a>
for the following conversions:</p>

<ul>
    <li><i>bits</i> -> <i>target</i> -> <i>bits</i> - in file <a href="https://github.com/bitcoin/bitcoin/blob/master/src/test/arith_uint256_tests.cpp">arith_uint256_tests.cpp</a></li>
    <li><i>bits</i> -> <i>difficulty</i> - in file <a href="https://github.com/bitcoin/bitcoin/blob/master/src/test/blockchain_tests.cpp">blockchain_tests.cpp</a></li>
</ul>

<p>To ensure that the conversions in the previous box are accurate, I have
reproduced those unit tests in Javascript here. Note that numbers in Javascript
are
<a href="https://en.wikipedia.org/wiki/Double-precision_floating-point_format">IEEE 754 double precision</a>,
which means that they are accurate to 15 significant digits. Bitcoin also uses
double precision for its <i>difficulty</i> values, so the results are
compatible. Please <span id="runDifficultyUnitTests">click here to run the unit
tests</span>.</p>

<div class="form-container annex" id="unitTests7" style="display:none;">
    <span id="overallStatus7" style="display:none;">Status of all tests:
        <span id="overallStatusPass7"></span>
    </span>
{{ codeblock() }}
</div>

{{ h(3, 'nonce') }}

<p>The human readable <i>nonce</i> is stored in the blockchain as 4 little
endian bytes:</p>

{{ form_container('form8', 'start', 'annex') }}
    <label for="nonce8" class="for-textbox">nonce</label><br>
    <input id="nonce8" type="text" class="data-value" size="10" value="2083236893" disabled>
    <ul class="error"></ul>
{{ codeblock(start = True) }}convert to hexadecimal: <span class="aligner">         </span><span id="nonce8Hex"></span>
convert to 4 bytes (big endian): <span class="aligner"></span><span id="nonce8Bytes"></span>
convert to little endian: <span class="aligner">       </span><span id="nonce8BytesLE"></span>{{ codeblock(end = True) }}
{{ form_container('form8', 'end') }}

{{ h(3, 'block hashing in detail') }}

<p>Now we can put all this together. In the following form, note how each field
in the human-readable block header is converted to bytes to be stored in the
blockchain, and how these are concatenated together. The block header is always
80 bytes:</p>

{{ form_container('form9', 'start', 'annex') }}
<div class="media-container"><div class="media-positioner">
    <table class="btc-header-definition">
        <tr><td class="btc-header-field">
            <label for="version9">version</label><br>
            <input id="version9" type="text" class="data-value" size="2" value="1" disabled>
        </td></tr>
        <tr><td class="btc-header-field">
            <label for="prevHash9">previous block hash</label><br>
            <input id="prevHash9" type="text" class="data-value" size="64" value="0000000000000000000000000000000000000000000000000000000000000000" disabled>
        </td></tr>
        <tr><td class="btc-header-field">
            <label for="merkleRoot9">merkle root</label><br>
            <input id="merkleRoot9" type="text" class="data-value" size="64" value="4a5e1e4baab89f3a32518a88c31bc87f618f76673e2cc77ab2127b7afdeda33b" disabled>
        </td></tr>
        <tr><td class="btc-header-field">
            <label for="timestamp9">timestamp<span id="timestamp9Explanation"></span></label><br>
            <input id="timestamp9" type="text" class="data-value" size="24" value="03 Jan 2009 18:15:05 GMT" disabled>
        </td></tr>
        <tr><td class="btc-header-field">
            <label for="bits9">bits</label><br>
            <input id="bits9" type="text" class="data-value" size="8" value="1d00ffff" disabled>
        </td></tr>
        <tr><td class="btc-header-field">
            <label for="nonce9">nonce</label><br>
            <input id="nonce9" type="text" class="data-value" size="10" value="2083236893" disabled>
        </td></tr>
    </table>
    <div class="media-caption">human-readable Bitcoin block header</div>
</div></div>
<ul  class="error"></ul>
{{ codeblock(start = True) }}block header (hexadecimal): <span class="aligner">        </span><span id="block9Bytes"><span id="version9Output" class="outputField"></span><span id="prevHash9Output" class="outputField"></span><span id="merkleRoot9Output" class="outputField"></span><span id="timestamp9Output" class="outputField"></span><span id="bits9Output" class="outputField"></span><span id="nonce9Output" class="outputField"></span></span>
block header -> SHA256 -> <span class="aligner">          </span><span id="firstSHA256Output9"></span>
convert to little endian: <span class="aligner">          </span><span id="firstSHA256OutputLE9"></span>
block header -> SHA256 -> SHA256 -> <span class="aligner"></span><span id="secondSHA256Output9"></span>
convert to little endian: <span class="aligner">          </span><span id="secondSHA256OutputLE9"></span>{{ codeblock(end = True) }}
{{ form_container('form9', 'end') }}

{{ h(3, 'hashing hexadecimal vs ascii') }}

<p>If you are very astute, you would have noticed that copying and pasting this
block header into the <i>SHA256</i> hash forms at the start of this article
gives a different result to the <i>SHA256</i> hashes here. This is because these
hashes are implemented upon the pre-image as a hexadecimal number, whereas the
hashes in the <a href="#heading_cryptographic_hashing">first section</a> were
implemented for a pre-image expressed in bytes. You can see the difference in
the following form by ticking and unticking the <i>pre-image is hexadecimal</i>
checkbox and observing how the resulting hash changes:</p>

{{ form_container('form10', 'start', 'annex') }}
    <input type="checkbox" id="inputCheckbox10" checked disabled>
    <label for="inputCheckbox10">pre-image is hexadecimal</label>
    <br><br>
    <label for="inputMessage10" class="for-textbox">pre-image</label><br>
    <textarea id="inputMessage10">0100000000000000000000000000000000000000000000000000000000000000000000003ba3edfd7a7b12b27ac72c3e67768f617fc81bc3888a51323a9fb8aa4b1e5e4a29ab5f49ffff001d1dac2b7c</textarea>
{{ codeblock('hash10Results', start = True) }}pre-image -> SHA256 -> <span class="aligner">                </span><span id="sha256Output10"></span>
pre-image -> SHA256 (little endian) -> <span class="aligner"></span><span id="sha256OutputLE10"></span>{{ codeblock(end = True) }}
{{ form_container('form10', 'end') }}

<p>That covers most of the nitty-gritty detail regarding the process of hashing
a Bitcoin block.</p>

{{ h(3, 'mining attempts calculator') }}

<p>The final thing to discuss is the luck involved in mining. As you may have
guessed, each Bitcoin block will contain different data to all the blocks that
have come before it. No other block will have the same transactions, the same
timestamp, the same previous block hash, etc, as the current block. This means
that miners will need to try lots of nonce values in order to mine a block -
i.e. they cannot simply guess the nonce value straight away. The more digits
that must be matched, the more hashing attempts must be made on average. In fact
the average number of hashing attempts needed to match a hexadecimal digit with
a hash can be calculated using the following expression:</p>

<div class="horizontal-center">
<pre>
average attempts = (16<sup>number of hexadecimal digits</sup>) / 2
</pre>
</div>

<p>I have created a difficulty calculator so you can see the average number of
hashes that must be made for a given difficulty:</p>

{{ form_container('form11', 'start', 'annex') }}
    <label for="difficulty11" class="for-select">difficulty</label><br>
    <select id="difficulty11" disabled></select>
{{ codeblock('difficulty11Calculation') }}
{{ form_container('form11', 'end') }}

<p>Of course, a miner may be lucky or unlucky. You will have noticed this when
you tried mining in the <a href="#form3">final scenario of the <i>cryptographic
hashing</i> section</a> - sometimes you find a valid nonce in many fewer
attempts than the average, and sometimes in many more. The process is random,
just like trying to shake a 6 with a dice.</p>

<p>Interestingly, if 9 or more digits must be matched, then the nonce alone is
not large enough for the average number of attempts that must be made. Matching
9 characters will require on average 34,359,738,368 double-hash attempts;
however, the Bitcoin nonce field is only 4 bytes long and so has a maximum value
of 4,294,967,295. What is a Bitcoin miner to do if it reaches 4,294,967,295
attempts and a solution has still not been found? One option is to increment the
timestamp field in the block by 1 second and begin mining again with a nonce of
0. But what if the miners are so fast that they can hash at more than
4,294,967,295 hashes per second? In that case they can change some redundant
data in the first transaction of the block they are currently mining and reset
the nonce to 0.</p>
<script>
    siteGlobals.unittestBitsJSON = '{{ QS_LINK['/how-do-the-bitcoin-mining-algorithms-work/json/unittest-bits.json'] }}';
    siteGlobals.hexTrialAttemptsJSON = '{{ QS_LINK['/how-do-the-bitcoin-mining-algorithms-work/json/hex-trial-attempts.json'] }}';
    siteGlobals.btcTxsPerBlockJSON = {
        '0-999': '{{ QS_LINK['/how-do-the-bitcoin-mining-algorithms-work/json/btc-txs-per-block-0-999.json'] }}'
    };
</script>
</body>
</html>
